{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	Ajouter une nouvelle entrée
	<span class="mini-title"></span>
{% endblock %}

{% block block_content %}
	<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
		{% include 'SEAdminBundle:prestation:content-form.html.twig' %}
		<div class="form-actions no-margin">
			<button type="submit" class="btn btn-info pull-right">Ajouter</button>
			<div class="clearfix"></div>
		</div>
	</form>
{% endblock %}