<div class="control-group">
	<div class="controls controls-row">{{ form_widget(form.image) }}</div>
	<div class="controls controls-row text-error">{{ form_errors(form.image) }}</div>
	<div class="ecart10"></div>

	<label class="control-label">{{ form_label(form.title, "Titre :") }}</label>
	<div class="controls controls-row">{{ form_widget(form.title) }}</div>
	<div class="controls controls-row text-error">{{ form_errors(form.title) }}</div>
	<div class="ecart10"></div>
	<label class="control-label">{{ form_label(form.active) }}</label>
	<div class="controls controls-row">{{ form_widget(form.active) }}</div>
	<div class="ecart10"></div>

	<div class="hide" style="{% if seadmin.modules.prestation.categories is defined and seadmin.modules.prestation.categories %}display: block;{% endif %}">
		<label class="control-label">{{ form_label(form.categories) }}</label>
		<div class="controls controls-row">{{ form_widget(form.categories) }}</div>
		<div class="ecart10"></div>
	</div>

	<label class="control-label">{{ form_label(form.content, "Description :") }}</label>
	<div class="controls controls-row">{{ form_widget(form.content) }}</div>
	{{ form_rest(form) }}

	<div class="controls controls-row">{{ form_errors(form) }}</div>
</div>