{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% if seadmin.modules.prestation.title is defined %}{% set presta_title = seadmin.modules.prestation.title %}{% else %}{% set presta_title = "Prestations" %}{% endif %}

{% block block_title %}
	Liste des {{ presta_title }}
	<span class="mini-title">Nombre de {{ presta_title }} : {{ prestas|length }}</span>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/seadmin/js/cms/presta-sort.js') }}"></script>
{% endblock %}

{% block block_content %}
	<div class="ecart10"></div>
	<ul class="thumbnails" id="sort_presta" data-url="{{ path('SEAdminBundle_prestation_change_sort') }}">
		{% for p in prestas %}
            <li class="span3" data-ref="{{ p.id }}" style="position: relative;">
                <a href="{{ path('SEAdminBundle_prestation_show', { 'id': p.id }) }}" class="thumbnail">
					<img src="{{ asset('media/admin/seadmin_200x120/' ~ p.image.urlimg) }}" style="width: 100%;">
					<p class="thumb-title dotdotdot">{{ p.title }}</p>
					<p class="dotdotdot" style="margin: 0px; line-height: 1.2em; font-size: 12px;">En ligne : {% if p.active %}<span class="icon-ok" style="color: #090;"></span>{% else %}<span class="icon-remove" style="color: #900;"></span>{% endif %}</p>
                	{% if seadmin.modules.prestation.categories is defined and seadmin.modules.prestation.categories %}
                		<p class="dotdotdot" style="margin: 0px; font-style: italic;">
                			{% for key, cat in p.categories %}{{ cat.libelle }}{% if key + 1 != p.categories|length %}, {% endif %}{% endfor %}&nbsp;
                		</p>
                	{% endif %}
                </a>
				<button class="btn btn-small move"><span class="icon-move"></span></button>
				<a class="remove btn btn-danger btn-small" href="{{ path('SEAdminBundle_prestation_remove', { 'id': p.id }) }}"><span class="icon-remove"></span></a>
            </li>
		{% endfor %}
    </ul>
{% endblock %}