{% extends 'SEAdminBundle:layout:layout.html.twig' %}

{% block body_left %}
	{% if updated %}<div class="alert alert-success"><strong>Information !</strong> Votre modification est bien prise en compte.</div>{% endif %}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">{{ p.title }} <span class="mini-title">Modification</span></div>
				</div>
				<div class="widget-body">
					<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
						{% include 'SEAdminBundle:prestation:content-form.html.twig' %}
						<div class="form-actions no-margin">
							<button type="submit" class="btn btn-info pull-right">Modifier</button>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>

			{# SLIDESHOW #}
			{% if seadmin.modules.prestation.slideshow is not defined or (seadmin.modules.prestation.slideshow is defined and seadmin.modules.prestation.slideshow) %}
				{% include 'SEAdminBundle:slideshow:slideshow-prerender.html.twig' with { 'slideshow': p.slideshow, 'back': path('SEAdminBundle_prestation_show', { 'id': p.id }) } %}
			{% endif %}

			{# IMAGES #}
			{% if seadmin.modules.prestation.images is not defined or (seadmin.modules.prestation.images is defined and seadmin.modules.prestation.images) %}
				{% include 'SEAdminBundle:slideshow:images-prerender.html.twig' with { 'slideshow': p.slideshow, 'back': path('SEAdminBundle_prestation_show', { 'id': p.id }) } %}
			{% endif %}

			{# VIDEO #}
			{% if seadmin.modules.prestation.video is not defined or (seadmin.modules.prestation.video is defined and seadmin.modules.prestation.video) %}
				{% include 'SEAdminBundle:video:video-prerender.html.twig' with { 'video': p.video, 'back': path('SEAdminBundle_prestation_show', { 'id': p.id }) } %}
			{% endif %}
		</div>
	</div>
{% endblock %}