<div class="wrapper">
	<ul class="month-income">
		<li>
			<span class="icon-block red-block"><b class="fs1" aria-hidden="true" data-icon="&#xe038;"></b></span>
			<h5 style="color: #666;">Parainage <small class="info-fade">site web</small></h5>
			<p>Pour tout parainage pour la création d'un site internet, vous recevez <b style="color: #999;">un an d'hébergement gratuit</b>.</p>
		</li>
	</ul>
</div>