{% if (seadmin.modules.publicite is defined and seadmin.modules.publicite) or seadmin.modules.publicite is not defined %}
	<div class="ecart10"></div>
	{% include 'SEAdminBundle:publicite:parainage.html.twig' %}

	{% if pubs|length > 0 %}
		{% for p in pubs %}
			<div class="wrapper">
				<ul class="month-income">
					<li>
						{% if p.url is defined and p.url != "" %}
							<a href="http://api.pub-ouest.fr/redirect/{{ seadmin.site.id_api }}/{{ p.id }}" target="_blank">
								<img width="100%" src="{{ p.image }}" title="{{ p.title }}" alt="{{ p.title }}">
							</a>
						{% else %}
							<img width="100%" src="{{ p.image }}" title="{{ p.title }}" alt="{{ p.title }}">
						{% endif %}
					</li>
				</ul>
			</div>
		{% endfor %}
	{% endif %}

	<br class="clear">

{% endif %}