{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
    Créer une Newsletter
    <span class="mini-title"></span>
{% endblock %}

{% block block_content %}
    <script src="{{ asset('bundles/seadmin/js/form/form-newsletter.js') }}"></script>
    {{ form_start(form, { 'attr': { 'class': 'form-horizontal no-margin' } }) }}
        {% include 'SEAdminBundle:newsletter:form.html.twig' %}

        <div class="form-actions no-margin">
            <button type="submit" class="btn btn-info pull-right">Ajouter</button>
            <div class="clearfix"></div>
        </div>
    {{ form_end(form) }}
{% endblock %}