{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
    <div class="title">Vos Newsletters</div>
{% endblock %}

{% block block_content %}
    <div class="ecart10"></div>
    <table class="table table-bordered" style="background-color: #fff;">
        <tr>
            <th style="text-align: center; vertical-align: middle;">Email</th>
            <th style="text-align: center; vertical-align: middle;">Date d'ajout</th>
            <th></th>
        </tr>
        <tbody id="sort_generic_list">
            {% for email in emails %}
                <tr data-ref="{{ email.id }}">
                    <td style="vertical-align: middle;">{{ email.email }}</td>
                    <td style="vertical-align: middle; text-align: center;">{{ email.dateadd|date('d-m-Y H\\hi') }}</td>
                    <td style="width: 50px;vertical-align: middle;text-align: center;">
                        <a href="{{ path('SEAdminBundle_newsletter_email_delete', { 'email': email.id }) }}" class="btn btn-danger">
                            <span class="icon-remove"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}