{{ form_start(form) }}
	{{ form_label(form.email) }}
	{{ form_widget(form.email) }}
	{{ form_errors(form.email) }}
	<div style="display: none;">
		<input value="" type="text" name="company">
		<input value="" type="text" name="firstname">
		<input value="" type="text" name="lastname">
		<input value="" type="text" name="address">
	</div>
	{{ form_errors(form) }}
	<button type="submit">M'inscrire</button>
{{ form_end(form) }}