<div class="ecart10"></div>
<label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(form.submittedImage, "Illustration :") }}</label>
<div class="controls controls-row">{{ form_widget(form.submittedImage) }}</div>
<div class="controls controls-row text-error">{{ form_errors(form.submittedImage) }}</div>

<div class="ecart10"></div>
<label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(form.title, "Titre :") }}</label>
<div class="controls controls-row">{{ form_widget(form.title) }}</div>
<div class="controls controls-row text-error">{{ form_errors(form.title) }}</div>
<div class="ecart10"></div>

<label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(form.sendtoall, "Envoyer à toute la liste :") }}</label>
<div class="controls controls-row">{{ form_widget(form.sendtoall) }}</div>
<div class="controls controls-row text-error">{{ form_errors(form.sendtoall) }}</div>
<div class="ecart10"></div>

<div id="sendtoall-container">
    <label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(form.mailinglist, "Emails :") }}</label>
    <div class="controls controls-row">{{ form_widget(form.mailinglist) }}</div>
    <div class="controls controls-row text-error">{{ form_errors(form.mailinglist) }}</div>
    <div class="ecart10"></div>
</div>

<label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(form.template, "Template :") }}</label>
<div class="controls controls-row">{{ form_widget(form.template) }}</div>
<div class="controls controls-row text-error">{{ form_errors(form.template) }}</div>
<div class="ecart10"></div>

<label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(form.content, "Contenu :") }}</label>
<div class="controls controls-row">{{ form_widget(form.content) }}</div>
<div class="controls controls-row text-error">{{ form_errors(form.content) }}</div>
<div class="ecart10"></div>