<div class="ecart10"></div>
<label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(formImage.submittedImage, "Illustration :") }}</label>
<div class="controls controls-row">{{ form_widget(formImage.submittedImage) }}</div>
<div class="controls controls-row text-error">{{ form_errors(formImage.submittedImage) }}</div>

<div class="ecart10"></div>
<label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(formImage.title, "Titre :") }}</label>
<div class="controls controls-row">{{ form_widget(formImage.title) }}</div>
<div class="controls controls-row text-error">{{ form_errors(formImage.title) }}</div>
<div class="ecart10"></div>

<label style="padding: 0px; margin: 0px;" class="control-label">{{ form_label(formImage.content, "Contenu :") }}</label>
<div class="controls controls-row">{{ form_widget(formImage.content) }}</div>
<div class="controls controls-row text-error">{{ form_errors(formImage.content) }}</div>
<div class="ecart10"></div>