{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
    <div class="title">Vos Newsletters</div>
{% endblock %}

{% block block_content %}
    <div class="ecart10"></div>
    <table class="table table-bordered" style="background-color: #fff;">
        <tr>
            <th style="text-align: center; vertical-align: middle;">Titre</th>
            <th style="text-align: center; vertical-align: middle;">Modèle</th>
            <th style="text-align: center; vertical-align: middle;">Date</th>
            <th style="text-align: center; vertical-align: middle;">Envoyée</th>
            <th></th>
            <th></th>
        </tr>
        <tbody id="sort_generic_list">
            {% for newsletter in newsletters %}
                <tr data-ref="{{ newsletter.id }}">
                    <td style="vertical-align: middle;">{{ newsletter.title }}</td>
                    <td style="vertical-align: middle;">{{ newsletter.template.title }}</td>
                    <td style="vertical-align: middle; text-align: center;">
                        {% if newsletter.datesent %}
                            {{ newsletter.datesent|date('d-m-Y H\\hi') }}
                        {% endif %}
                    </td>
                    <td style="width: 75px;vertical-align: middle;text-align: center; font-size: 1.8em;">
                        {% if newsletter.datesent %}
                            <a href="{{ path('SEAdminBundle_newsletter_send', { 'newsletter': newsletter.id }) }}">
                                <span class="icon-ok" style="color: green;"></span>
                            </a>
                        {% else %}
                            <a href="{{ path('SEAdminBundle_newsletter_send', { 'newsletter': newsletter.id }) }}">
                                <span class="icon-remove" style="color: red;"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td style="width: 50px;vertical-align: middle;text-align: center;">
                        <a href="{{ path('SEAdminBundle_newsletter_show', { 'newsletter': newsletter.id }) }}" class="btn">
                            <span class="icon-eye-open"></span>
                        </a>
                    </td>
                    <td style="width: 50px;vertical-align: middle;text-align: center;">
                        {% if not newsletter.datesent %}
                            <a href="{{ path('SEAdminBundle_newsletter_delete', { 'newsletter': newsletter.id }) }}" class="btn btn-danger">
                                <span class="icon-remove"></span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}