{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
    Modifier une Newsletter
    <span class="mini-title"></span>
{% endblock %}

{% block block_content %}
    <script src="{{ asset('bundles/seadmin/js/form/form-newsletter.js') }}"></script>
    {{ form_start(form, { 'attr': { 'class': 'form-horizontal no-margin' } }) }}
        {% if newsletter.urlimg %}
            <img src="{{ asset(newsletter.urlimg) }}" width="200">
        {% endif %}
        {% include 'SEAdminBundle:newsletter:form.html.twig' %}

        <div class="form-actions no-margin">
            <button type="submit" class="btn btn-info pull-right">Modifier</button>
            <div class="clearfix"></div>
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block extra_content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">Ajouter un bloque d'information</div>
                </div>
                <div class="widget-body">
                    {{ form_start(formImage, { 'attr': { 'class': 'form-horizontal no-margin' } }) }}
                        {% include 'SEAdminBundle:newsletter:form_images.html.twig' %}

                        <div class="form-actions no-margin">
                            <button type="submit" class="btn btn-info pull-right">Ajouter</button>
                            <div class="clearfix"></div>
                        </div>
                    {{ form_end(formImage) }}

                    {% if newsletter.images|length > 0 %}
                        <div style="width: 100%; height: 30px;"></div>
                        <ul class="thumbnails" id="sort_nlimages" data-url="{{ path('SEAdminBundle_newsletter_sort') }}">
                            {% for image in newsletter.images %}
                                <li class="span3" data-ref="{{ image.id }}" style="position: relative;">
                                    <a href="{{ path('SEAdminBundle_newsletter_image_update', { 'id': image.id }) }}" class="thumbnail">
                                        <img src="{{ image.urlimg | imagine_filter('seadmin_200x120') }}" style="width: 100%;">
                                        <p style="margin: 0px;">{{ image.title }}</p>
                                    </a>
                                    <button type="button" class="btn btn-small move"><span class="icon-move"></span></button>
                                    <a class="remove btn btn-danger btn-small remove_nl_image" href="{{ path('SEAdminBundle_newsletter_image_remove', { 'id': image.id }) }}"><span class="icon-remove"></span></a>
                                </li>
                            {% endfor %}
                        </ul>
                        <script src="{{ asset('bundles/seadmin/js/cms/newsletter_image.js') }}"></script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">Email de Test</div>
                </div>
                <div class="widget-body">
                    <form class="form-horizontal no-margin" method="POST">
                        <div class="ecart10"></div>
                        <label class="control-label">Email :</label>
                        <div class="controls controls-row">
                            <input type="text" name="test_email">
                        </div>
                        <div class="ecart10"></div>

                        <div class="form-actions no-margin">
                            <button type="submit" class="btn btn-info pull-right">Envoyer</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}