{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
    Modifier le bloque
    <span class="mini-title"></span>
{% endblock %}

{% block block_content %}
    {{ form_start(formImage, { 'attr': { 'class': 'form-horizontal no-margin' } }) }}
        <div class="controls controls-row">
            <img src="{{ image.urlimg | imagine_filter('seadmin_200x120') }}">
        </div>
        {% include 'SEAdminBundle:newsletter:form_images.html.twig' %}

        <div class="form-actions no-margin">
            <button type="submit" class="btn btn-info pull-right">Modifier</button>
            <div class="clearfix"></div>
        </div>
    {{ form_end(formImage) }}
{% endblock %}