<div class="row-fluid">
	{% include 'SEAdminBundle:slideshow:content-form-image.html.twig' %}
	<button type="submit" class="btn btn-info">Ajouter</button>
	{% if slideshow.images|length > 0 %}
		<div style="width: 100%; height: 30px;"></div>
		<ul class="thumbnails" id="sort_slideshow" data-url="{{ path('SEAdminBundle_slideshow_sortimage', { 'id': slideshow.id }) }}">
			{% for image in slideshow.images %}
	            <li class="span3" data-ref="{{ image.id }}" style="position: relative;">
	                <a href="{{ path('SEAdminBundle_slideshow_updateimage', { 'id': image.id, 'back': back }) }}" class="thumbnail">
						<img src="{{ asset('media/admin/seadmin_200x120/' ~ image.image.urlimg) }}" style="width: 100%;">
	                </a>
					<button type="button" class="btn btn-small move"><span class="icon-move"></span></button>
					<a class="remove btn btn-danger btn-small remove_slideshow_image" href="{{ path('SEAdminBundle_slideshow_removeimage', { 'id': image.id }) }}"><span class="icon-remove"></span></a>
	            </li>
			{% endfor %}
	    </ul>
		<script src="{{ asset('bundles/seadmin/js/cms/slideshow.js') }}"></script>
	{% endif %}
</div>
