{{ form_widget(imageForm.image) }}
<div class="ecart10"></div>
<div class="row-fluid">
	<div class="span6">
		{{ form_widget(imageForm.title) }}
	</div>
	<div class="span6">
		{{ form_widget(imageForm.url) }}
	</div>
</div>
{{ form_widget(imageForm.content) }}
{{ form_widget(imageForm._token) }}
<div class="ecart10"></div>