<div class="widget">
	<div class="widget-header">
		<div class="title">{% if titleSlideshow is defined %}{{ titleSlideshow }}{% else %}Les images{% endif %} <span class="mini-title">{{ slideshow.images|length }} image(s)</span></div>
	</div>
	<div class="widget-body">
		<form action="{{ path('SEAdminBundle_slideshow_addimage', { 'id': slideshow.id }) }}" method="post">
			<input type="hidden" name="back" value="{{ back }}">
			{% render controller('SEAdminBundle:Slideshow:addImage', { 'id': slideshow.id, 'back': back }) %}
		</form>
	</div>
</div>