<div class="widget">
	<div class="widget-header">
		<div class="title">Le diaporama</div>
	</div>
	<div class="widget-body">
		<form action="{{ path('SEAdminBundle_slideshow_update', { 'id': slideshow.id }) }}" method="post">
			<input type="hidden" name="back" value="{{ back }}">
			{% render controller('SEAdminBundle:Slideshow:update', { 'id': slideshow.id }) %}
		</form>
	</div>
</div>