{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	Modifier l'image du diaporama
{% endblock %}

{% block block_content %}
	<form action="" method="post">
	<input type="hidden" value="{{ back }}" name="back">
	{% include 'SEAdminBundle:slideshow:content-form-image.html.twig' %}
	<button type="submit" class="btn btn-info">Modifier</button>
</form>
{% endblock %}