<div class="row-fluid">
	<div class="span4">
		{{ form_label(slideForm.effect, "Effet : ") }}
		{{ form_widget(slideForm.effect) }}
	</div>
	<div class="span4">
		{{ form_label(slideForm.delayshow, "Tps / image : ") }}
		{{ form_widget(slideForm.delayshow) }}
	</div>
	<div class="span4">
		{{ form_label(slideForm.delayanim, "Animation : ") }}
		{{ form_widget(slideForm.delayanim) }}
	</div>
	{{ form_widget(slideForm._token) }}
</div>
<p style="text-align: right;"><button type="submit" class="btn btn-info">Modifier</button></p>