{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block body_left %}
	<div class="widget-body">
		<div class="accordion no-margin" id="accordionHelp">
			{# Contact #}
			{% include 'SEAdminBundle:help/doc:contact.html.twig' %}

			{# Hébergement #}
			{% if seadmin.help.hosting is not defined or (seadmin.help.hosting is defined and seadmin.help.hosting) %}
				{% include 'SEAdminBundle:help/doc:hosting.html.twig' %}
			{% endif %}

			{# SEO #}
			{% if seadmin.help.seo is not defined or (seadmin.help.seo is defined and seadmin.help.seo) %}
				{% include 'SEAdminBundle:help/doc:seo.html.twig' %}
			{% endif %}

			{# Email #}
			{% if seadmin.help.email is defined and seadmin.help.email != false %}
				{% include 'SEAdminBundle:help/doc:email.html.twig' %}
			{% endif %}

			{# Vidéo #}
			{% if seadmin.help.video is not defined or (seadmin.help.video is defined and seadmin.help.video) %}
				{% include 'SEAdminBundle:help/doc:video.html.twig' %}
			{% endif %}

			{# Image #}
			{% if seadmin.help.image is not defined or (seadmin.help.image is defined and seadmin.help.image) %}
				{% include 'SEAdminBundle:help/doc:image.html.twig' %}
			{% endif %}
		</div>
	</div>
{% endblock %}