<table style="width: 100%;" cellpadding="5" class="metro-nav">
	<tr>
		<td>
			<div class="analytics-container span12 round nav-block-blue">
				<span class="icon-user"></span>
				<h4><span data-oochart='metric' data-oochart-metric='ga:visits' data-oochart-start-date='1m' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}'></span></h4>
				<p>Total des visites</p>
			</div>
		</td>
		<td>
			<div class="analytics-container span12 round nav-block-red">
				<span class="icon-thumbs-up"></span>
				<h4><span data-oochart='metric' data-oochart-metric='ga:newVisits' data-oochart-start-date='1m' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}'></span></h4>
				<p>Nouvelles visites</p>
			</div>
		</td>
		<td>
			<div class="analytics-container span12 round nav-block-orange">
				<span class="icon-search"></span>
				<h4><span data-oochart='metric' data-oochart-metric='ga:organicSearches' data-oochart-start-date='1m' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}'></span></h4>
				<p>Moteur de recherche</p>
			</div>
		</td>
		<td>
			<div class="analytics-container span12 round nav-block-yellow">
				<span class="icon-signout"></span>
				<h4><span data-oochart='metric' data-oochart-metric='ga:bounces' data-oochart-start-date='1m' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}'></span></h4>
				<p>Nombre de rebond</p>
			</div>
		</td>
		<td>
			<div class="analytics-container span12 round nav-block-green">
				<span class="icon-time"></span>
				<h4><span data-oochart='metric' data-oochart-metric='ga:avgTimeOnSite' data-oochart-start-date='1m' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}'></span> sec</h4>
				<p>Durée moyenne</p>
			</div>
		</td>
	</tr>
</table>