<div class="row-fluid" id="container_analytics" data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}'>

	<div class="span12">
		<div class="widget">
			<div class="widget-body" style="background-color: #FFF;">
				{% include 'SEAdminBundle:dashboard:chiffres.html.twig' %}
			</div>
		</div>

		<div class="widget">
			<div class="widget-header">
				<div class="title">Statistiques des visiteurs <span class="mini-title">depuis 3 mois</span></div>
			</div>
			<div class="widget-body" style="background-color: #FFF;">
				<div data-oochart='timeline' data-oochart-start-date='3m' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}' data-oochart-metrics='ga:visits,Total des visiteurs,ga:bounces,Nombre de rebond'></div>
			</div>
		</div>

		{# Browser stats #}
		<div class="widget">
			<div class="widget-header">
				<div class="title">Naviguateurs utilisées <span class="mini-title">depuis 1 mois</span></div>
			</div>
			<div class="widget-body" style="background-color: #FFF;">
				<div data-oochart='pie' data-oochart-start-date='1m' data-oochart-metric='ga:visits,Visiteurs' data-oochart-dimension='ga:browser' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}'></div>
				<div data-oochart='pie' data-oochart-start-date='1m' data-oochart-metric='ga:visits,Visiteurs' data-oochart-dimension='ga:deviceCategory' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}'></div>
			</div>
		</div>
	</div>

	{# Organique search #}
	<h2>Recherche keywords</h2>
	<div id="table_search"></div>

	{# Localisation #}
	<h2>Localisation par ville</h2>
	<div id="table_localisation"></div>
	
	{# Timeline visite #}
	<div data-oochart='timeline' data-oochart-start-date='1m' data-oochart-profile='{{ seadmin.analytics.oocharts.profile }}' data-oochart-metrics='ga:visits,Visiteurs'></div>
</div>

<script src="{{ asset('bundles/seadmin/js/cms/dashboard.js') }}"></script>