{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block body_left %}
	{# Module pour blocker l'accée au site #}
	{% if seadmin.modules.standby is defined and seadmin.modules.standby %}
		{% include 'SEAdminBundle:parameters:standby.html.twig' %}
	{% endif %}

	{# Module pour les vieux naviguateurs #}
	{% if seadmin.modules.oldbrowser is defined and seadmin.modules.oldbrowser %}
		{% include 'SEAdminBundle:oldbrowser:config.html.twig' %}
	{% endif %}

	{# Module de statistique oocharts #}
	{% if seadmin.analytics.oocharts.apikey is defined and seadmin.analytics.oocharts.profile is defined %}
		{% include 'SEAdminBundle:dashboard:oocharts.html.twig' %}
	{% else %}
		<div class="alert alert-danger">
			<strong>Information !</strong> Pour afficher cette page vous devez configurer votre apikey oocharts dans le fichier <b>app/config/config.yml</b>
		</div>
		<h4>Exemple pour la configuration : </h4>
		<blockquote>
			se_admin:<br>
			<font style="margin-left: 30px;">analytics:</font><br>
			<font style="margin-left: 60px;">oocharts:</font><br>
			<font style="margin-left: 90px;">apikey: VOTRE_API_KEY_OOCHARTS</font><br>
			<font style="margin-left: 90px;">profile: VOTRE_PROFILE_KEY_GOOGLE_ANALYTICS (68864131)</font><br>
			<font style="margin-left: 30px;">[...]</font>
		</blockquote>
	{% endif %}
{% endblock %}