<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="fr"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="fr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="fr"><![endif]-->
<!--[if gt IE 8]><!--><html lang="fr"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Administration</title>
		<meta name="description" content="">
		<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
		
		<link href="{{ asset('bundles/seadmin/icomoon/style.css') }}" rel="stylesheet">
		<!--[if lte IE 7]><script src="{{ asset('bundles/seadmin/css/icomoon-font/lte-ie7.js') }}"></script><![endif]-->
		
		<link href="{{ asset('bundles/seadmin/css/datepicker.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/seadmin/css/chosen.min.css') }}" rel="stylesheet">

		<link href="{{ asset('bundles/seadmin/css/main.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/seadmin/css/font-awesome.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/seadmin/css/charts-graphs.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/seadmin/css/redactor.css') }}" rel="stylesheet">
		{% block css %}{% endblock %}
		{% if seadmin.css is defined %}
			{% for file in seadmin.css %}<link href="{{ asset(file) }}" rel="stylesheet">{% endfor %}
		{% endif %}

		<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="{{ asset('bundles/seadmin/js/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/seadmin/js/jquery-ui-1.10.min.js') }}"></script>
		<script src="{{ asset('bundles/seadmin/js/jquery.form.min.js') }}"></script>
		<script src="{{ asset('bundles/seadmin/js/bootstrap.js') }}"></script>

		<script src="{{ asset('bundles/seadmin/js/bootstrap-datepicker.js') }}"></script>
		<script src="{{ asset('bundles/seadmin/js/bootstrap-datepicker.fr.js') }}"></script>
		

		<script src="{{ asset('bundles/seadmin/js/redactor.js') }}"></script>
		<script src="{{ asset('bundles/seadmin/js/fr.js') }}"></script>
		<script src="{{ asset('bundles/seadmin/js/lib/melody.inputfile.js') }}"></script>
		<script src="{{ asset('bundles/seadmin/js/lib/chosen.jquery.min.js') }}"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="{{ asset('bundles/seadmin/js/cms/cms.js') }}"></script>

		{# oocharts API google analytics #}
		{% if seadmin.analytics.oocharts.apikey is defined %}
			<script src="{{ asset('bundles/seadmin/js/oocharts.js') }}"></script>
			<script type="text/javascript">$(document).ready(function() { oo.setAPIKey("{{ seadmin.analytics.oocharts.apikey }}"); });</script>
		{% endif %}

		{% block javascripts %}{% endblock %}

		{% if seadmin.js is defined %}
			{% for file in seadmin.js %}<script src="{{ asset(file) }}"></script>{% endfor %}
		{% endif %}
	</head>
	<body data-wysiwyg-table="{% if seadmin.wysiwyg.table is defined and seadmin.wysiwyg.table %}1{% else %}0{% endif %}" data-wysiwyg-format="{% if seadmin.wysiwyg.format is defined and seadmin.wysiwyg.format %}1{% else %}0{% endif %}" data-wysiwyg-image="{% if seadmin.wysiwyg.image is defined and seadmin.wysiwyg.image %}1{% else %}0{% endif %}" data-wysiwyg-video="{% if seadmin.wysiwyg.video is defined and seadmin.wysiwyg.video %}1{% else %}0{% endif %}" data-wysiwyg-link="{% if seadmin.wysiwyg.link is defined and seadmin.wysiwyg.link %}1{% else %}0{% endif %}" data-wysiwyg-debug="{% if seadmin.wysiwyg.debug is defined and seadmin.wysiwyg.debug %}1{% else %}0{% endif %}" data-wysiwyg-alignment="{% if seadmin.wysiwyg.alignment is defined and seadmin.wysiwyg.alignment %}1{% else %}0{% endif %}">
		{% block body %}{% endblock %}
		{% include 'SEAdminBundle:layout:modal.html.twig' %}
		<table cellpadding="0" cellspacing="0" border="0" id="loader_container">
			<tr><td align="center"><img src="{{ asset('bundles/seadmin/img/loading-black.gif') }}"></td></tr>
		</table>
	</body>
</html>