{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block body_left %}
	{% block block_over %}{% endblock %}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">{% block block_title %}{% endblock %}</div>
				</div>
				<div class="widget-body">{% block block_content %}{% endblock %}</div>
			</div>
		</div>
	</div>
	{% block extra_content %}{% endblock %}
{% endblock %}