<a href="{{ path('SEAdminBundle_dashboard') }}" class="logo" style="color: #FFF; font-size: 22px;">
	{% if seadmin.site.name is defined %}{{ seadmin.site.name }} - {% endif %}
	Interface d'administration
</a>
<div class="user-profile">
	<a data-toggle="dropdown" class="dropdown-toggle">
		<img src="{{ asset('bundles/seadmin/img/profile1.png') }}" alt="Profile-Image">
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu pull-right">
		<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
	</ul>
</div>