{% extends 'SEAdminBundle:layout:base.html.twig' %}
{% block body %}
	<header>{% include 'SEAdminBundle:layout:head.html.twig' %}</header>
	<div class="container-fluid">
		<div class="dashboard-container">
			<div class="top-nav">
	  			<ul>{% include 'SEAdminBundle:layout:nav.html.twig' %}</ul>
	  			<div class="clearfix"></div>
	  		</div>
			<div class="sub-nav">
				{% include 'SEAdminBundle:layout:subnav.html.twig' %}

	  			<div class="btn-group pull-right">
	    			<button class="btn btn-warning2">Navigation</button>
	    			<button data-toggle="dropdown" class="btn btn-warning2 dropdown-toggle"><span class="caret"></span></button>
					<ul class="dropdown-menu pull-right">{% include 'SEAdminBundle:layout:phonenav.html.twig' %}</ul>
				</div>
			</div>

	        <div class="dashboard-wrapper">
	        	<div class="right-sidebar">
	        		{% render controller('SEAdminBundle:Publicite:show') %}
	        		{% block body_right %}{% endblock %}
	        	</div>
	        	<div class="left-sidebar">
	        		<div class="ecart10"></div>
	        		{% if separameters.standby is defined and separameters.standby %}
	        			<div class="alert alert-error"><strong>Rappel !</strong> Votre site est hors ligne.</div>
	        		{% endif %}
	        		{% if message is defined and message|length > 0 %}<div class="alert alert-success"><strong>Ok !</strong> {{ message.0 }}</div>{% endif %}
	        		{% if erreur is defined and erreur|length > 0 %}<div class="alert alert-error"><strong>Ok !</strong> {{ erreur.0 }}</div>{% endif %}
	        		{% block body_left %}{% endblock %}
	        	</div>
			</div>
		</div>              
	</div>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
{% endblock %}