<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="fr"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="fr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="fr"><![endif]-->
<!--[if gt IE 8]><!--><html lang="fr"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Identification</title>
		<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
		<link href="{{ asset('bundles/seadmin/icomoon/style.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/seadmin/css/main.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/seadmin/css/font-awesome.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/seadmin/css/login.css') }}" rel="stylesheet">
		<script src="{{ asset('bundles/seadmin/js/jquery.min.js') }}"></script>
		{% if seadmin.css is defined %}
			{% for file in seadmin.css %}<link href="{{ asset(file) }}" rel="stylesheet">{% endfor %}
		{% endif %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>