<div id="banque_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Banque d'image</h3>
        <button data-open="choose" id="add_img_ajax" class="btn" aria-hidden="true">Ajouter une image</button>
    </div>
    <div class="modal-body">
        <div id="content_banque_modal"></div>
    </div>
</div>