{% set rt = app.request.attributes.get('_route') %}

{# oocharts google analytics #}
{% if seadmin.modules.dashboard is not defined or (seadmin.modules.dashboard is defined and seadmin.modules.dashboard) %}
	{% if rt == 'SEAdminBundle_dashboard' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a href="{{ path('SEAdminBundle_dashboard') }}" class="{{ class }}"><div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>Dashboard</a></li>
{% endif %}

{# Parameters #}
{% if seadmin.modules.parameters is defined and seadmin.modules.parameters|length > 0 %}
	{% if rt == 'SEAdminBundle_parameter' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a class="{{ class }}" href="{{ path('SEAdminBundle_parameter') }}"><div class="fs1" aria-hidden="true" data-icon="&#xe090;"></div>Config.</a></li>
{% endif %}

{# Banque d'image #}
{% if rt == 'SEAdminBundle_banque_add' or rt == 'SEAdminBundle_banque_listing' or rt == 'SEAdminBundle_banque_show' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
<li><a href="{{ path('SEAdminBundle_banque_add') }}" class="{{ class }}"><div class="fs1" aria-hidden="true" data-icon="&#xe00e;"></div>Images</a></li>

{# Generics page #}
{% if seadmin.modules.generics is defined and seadmin.modules.generics|length > 0 %}
	{% for key, generic in seadmin.modules.generics %}
		{% if (rt == 'SEAdminBundle_generic_listing' or rt == 'SEAdminBundle_generic_add' or rt == 'SEAdminBundle_comments_listing') and configkey is defined and key == configkey %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
		<li><a href="{{ path('SEAdminBundle_generic_listing', { 'configkey': key }) }}" class="{{ class }}"><div class="{{ generic.icon }}" style="font-size: 16px; display: block; margin-bottom: 4px;"></div>{{ generic.title }}</a></li>
	{% endfor %}
{% endif %}

{# Actualités #}
{% if seadmin.modules.news is not defined or (seadmin.modules.news is defined and seadmin.modules.news) %}
	{% if rt == 'SEAdminBundle_news_show' or rt == 'SEAdminBundle_news_add_category' or rt == 'SEAdminBundle_news_listing' or rt == 'SEAdminBundle_add_listing' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a class="{{ class }}" href="{{ path('SEAdminBundle_news_listing') }}"><div class="fs1" aria-hidden="true" data-icon="&#xe004;"></div>{% if seadmin.modules.news.title is defined %}{{ seadmin.modules.news.title }}{% else %}Actualités{% endif %}</a></li>
{% endif %}

{# Prestations #}
{% if seadmin.modules.prestation is not defined or (seadmin.modules.prestation is defined and seadmin.modules.prestation) %}
	{% if rt == 'SEAdminBundle_prestation_listing' or rt == 'SEAdminBundle_prestation_show' or rt == 'SEAdminBundle_prestation_add' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a class="{{ class }}" href="{{ path('SEAdminBundle_prestation_listing') }}"><div class="fs1" aria-hidden="true" data-icon="&#xe0a9;"></div>{% if seadmin.modules.prestation.title is defined %}{{ seadmin.modules.prestation.title }}{% else %}Prestations{% endif %}</a></li>
{% endif %}

{# Keywords #}
{% if seadmin.modules.keyword is not defined or (seadmin.modules.keyword is defined and seadmin.modules.keyword) %}
	{% if rt == 'SEAdminBundle_keyword_add' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a class="{{ class }}" href="{{ path('SEAdminBundle_keyword_add') }}"><div class="fs1" aria-hidden="true" data-icon="&#xe031;"></div>{% if seadmin.modules.keyword.title is defined %}{{ seadmin.modules.keyword.title }}{% else %}Mots-clés{% endif %}</a></li>
{% endif %}

{# Pages #}
{% if seadmin.pages is defined and seadmin.pages|length > 0 %}
	{% if rt == 'SEAdminBundle_page_listing' or rt == 'SEAdminBundle_page_show' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a class="{{ class }}" href="{{ path('SEAdminBundle_page_listing') }}"><div class="fs1" aria-hidden="true" data-icon="&#xe02a;"></div>Les pages</a></li>
{% endif %}

{# Newsletter #}
{% if seadmin.modules.newsletter is defined and seadmin.modules.newsletter %}
	{% if rt == 'SEAdminBundle_newsletter_listing' or rt == 'SEAdminBundle_newsletter_add' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a class="{{ class }}" href="{{ path('SEAdminBundle_newsletter_listing') }}"><div class="fs1" aria-hidden="true" data-icon="&#xe1c5;"></div>Newsletter</a></li>
{% endif %}

{# Storage #}
{% if seadmin.modules.storage is not defined or (seadmin.modules.storage is defined and seadmin.modules.storage) %}
	{% if rt == 'SEAdminBundle_storage_listing' or rt == 'SEAdminBundle_storage_add' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a class="{{ class }}" href="{{ path('SEAdminBundle_storage_listing') }}"><div class="fs1" aria-hidden="true" data-icon="&#xe0bc;"></div>Stockage</a></li>
{% endif %}

{# Assistance #}
{% if seadmin.modules.help is not defined or (seadmin.modules.help is defined and seadmin.modules.help) %}
	{% if rt == 'SEAdminBundle_help_menu' %}{% set class = "selected" %}{% else %}{% set class = "" %}{% endif %}
	<li><a class="{{ class }}" href="{{ path('SEAdminBundle_help_menu') }}"><div class="fs1" aria-hidden="true" data-icon="&#xe094;"></div>Assistance</a></li>
{% endif %}