<li><a href="{{ path('SEAdminBundle_dashboard') }}">Dashboard</a></li>

<li><a href="{{ path('SEAdminBundle_banque_add') }}">Images</a></li>
<li class="phonenav_sub"><a href="{{ path('SEAdminBundle_banque_add') }}">Ajouter un image</a></li>
<li class="phonenav_sub"><a href="{{ path('SEAdminBundle_banque_listing') }}">Voir les images</a></li>

{% if seadmin.modules.news is not defined or (seadmin.modules.news is defined and seadmin.modules.news) %}
	<li><a href="graphs.html">{% if seadmin.modules.news.title is defined %}{{ seadmin.modules.news.title }}{% else %}Actualités{% endif %}</a></li>
	<li class="phonenav_sub"><a href="{{ path('SEAdminBundle_news_listing') }}">Afficher le listing</a></li>
	<li class="phonenav_sub"><a href="{{ path('SEAdminBundle_news_add') }}">Ajouter</a></li>
	<li class="phonenav_sub"><a href="">Afficher les catégories</a></li>
	<li class="phonenav_sub"><a href="">Ajouter une catégorie</a></li>
{% endif %}


{% if seadmin.modules.prestation is not defined or (seadmin.modules.prestation is defined and seadmin.modules.prestation) %}
	<li><a href="{{ path('SEAdminBundle_prestation_listing') }}">{% if seadmin.modules.prestation.title is defined %}{{ seadmin.modules.prestation.title }}{% else %}Prestations{% endif %}</a></li>
	<li class="phonenav_sub"><a href="{{ path('SEAdminBundle_prestation_listing') }}">Afficher le listing</a></li>
	<li class="phonenav_sub"><a href="{{ path('SEAdminBundle_prestation_add') }}">Ajouter</a></li>
{% endif %}

<li><a href="typography.html">Assistance</a></li>