<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px;">
	<tr>
		<td valign="center">
			<h1 style="text-align: center; font-family: Arial; margin: 0px;">{% if separameters.standby_title is defined %}{{ separameters.standby_title }}{% else %}En maintenance ...{% endif %}</h1>
			<p style="text-align: center; font-family: Arial; margin: 0px;">{% if separameters.standby_msg is defined %}{{ separameters.standby_msg }}{% else %}Nous revenons rapidement.{% endif %}</p>
			<br>
		</td>
	</tr>
</table>