{% set rt = app.request.attributes.get('_route') %}


{# Dashboard #}
{% if rt == 'SEAdminBundle_dashboard' %}
	{% include 'SEAdminBundle:layout/subnav:dashboard.html.twig' %}

{# Banque d'image #}
{% elseif rt == 'SEAdminBundle_banque_add' or rt == 'SEAdminBundle_banque_listing' or rt == 'SEAdminBundle_banque_show' %}
	{% include 'SEAdminBundle:layout/subnav:banque.html.twig' %}

{# Actualités #}
{% elseif rt == 'SEAdminBundle_news_show' or rt == 'SEAdminBundle_news_add_category' or rt == 'SEAdminBundle_news_add' or rt == 'SEAdminBundle_news_listing' %}
	{% include 'SEAdminBundle:layout/subnav:news.html.twig' %}

{# Prestations #}
{% elseif rt == 'SEAdminBundle_prestation_add' or rt == 'SEAdminBundle_prestation_show' or rt == 'SEAdminBundle_prestation_listing' %}
	{% include 'SEAdminBundle:layout/subnav:prestation.html.twig' %}

{# Keywords #}
{% elseif rt == 'SEAdminBundle_keyword_add' %}
	{% include 'SEAdminBundle:layout/subnav:keyword.html.twig' %}

{# Pages #}
{% elseif rt == 'SEAdminBundle_page_listing' or rt == 'SEAdminBundle_page_show' %}
	{% include 'SEAdminBundle:layout/subnav:page.html.twig' %}

{# Storage #}
{% elseif rt == 'SEAdminBundle_storage_listing' or rt == 'SEAdminBundle_storage_add' %}
	{% include 'SEAdminBundle:layout/subnav:storage.html.twig' %}

{# Help #}
{% elseif rt == 'SEAdminBundle_help_menu' %}
	{% include 'SEAdminBundle:layout/subnav:help.html.twig' %}

{# Generic #}
{% elseif rt == 'SEAdminBundle_generic_listing' or rt == 'SEAdminBundle_generic_add' or rt == 'SEAdminBundle_comments_listing' or rt == 'SEAdminBundle_comments_update' %}
	{% include 'SEAdminBundle:layout/subnav:generic.html.twig' %}

{# Newsletter #}
{% elseif 'SEAdminBundle_newsletter' in rt %}
    {% include 'SEAdminBundle:layout/subnav:newsletter.html.twig' %}

{% endif %}