<div class="row-fluid">
	<div class="span4">
		{{ form_label(videoForm.submitedMp4, "Vidéo MP4 : ") }}
		{{ form_widget(videoForm.submitedMp4) }}
		{{ form_errors(videoForm.submitedMp4) }}
	</div>
	<div class="span4">
		{{ form_label(videoForm.submitedOgg, "Vidéo OGG : ") }}
		{{ form_widget(videoForm.submitedOgg) }}
		{{ form_errors(videoForm.submitedOgg) }}
	</div>
	<div class="span4">
		{{ form_label(videoForm.submitedWebm, "Vidéo WebM : ") }}
		{{ form_widget(videoForm.submitedWebm) }}
		{{ form_errors(videoForm.submitedWebm) }}
	</div>
	{{ form_widget(videoForm._token) }}
</div>
<p style="text-align: right;"><button type="submit" class="btn btn-info">Modifier</button></p>

{% if video.isReadable() %}
	<video controls="controls" style="max-width: 100%;">
		<source src="{{ asset(video.urlmp4) }}" type="video/mp4" />
		<source src="{{ asset(video.urlwebm) }}" type="video/webm" />
		<source src="{{ asset(video.urlogg) }}" type="video/ogg" />
		Votre naviguateur est trop vieux pour lire la vidéo.
		<a href="http://browsehappy.com/">Mettre à jour mon naviguateur</a>
	</video>
{% else %}
	<p style="color: #900; margin: 0px; text-align: center;">Vous n'avez pas chargé de vidéo.</p>
{% endif %}