<div class="widget">
	<div class="widget-header">
		<div class="title">Charger une vidéo</div>
	</div>
	<div class="widget-body">
		<form action="{{ path('SEAdminBundle_video_update', { 'id': video.id }) }}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="back" value="{{ back }}">
			{% render controller('SEAdminBundle:Video:update', { 'id': video.id }) %}
		</form>
	</div>
</div>