<div id="modal_choose_banque" class="row-fluid">
	{{ msg|raw }}
	<div class="row-fluid">
	    {% for img in banque %}
	        <div class="span4 banque_img" data-urlimage="{{ asset(img.urlimg) }}" data-refimg="{{ img.id }}">
	            <img src="{{ asset('media/admin/seadmin_200x120/' ~ img.urlimg) }}" style="width: 100%;">
	            <p style="margin: 3px 0 0 0; text-align: center;">{{ img.urlimg|image_size }}</p>
	        </div>
	    {% endfor %}
	</div>
</div>

<div id="modal_add_banque" class="row-fluid">
	<div class="alert">
		<strong>Information !</strong> Ajoutez une image à votre banque d'image en remplissant le formulaire ci-dessous. Ne négligez pas le titre il est important pour votre référencement.
	</div>
	<form id="add_img_ajax_form" action="{{ path('SEAdminBundle_banque_open') }}" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
		{% include 'SEAdminBundle:banque:content-form.html.twig' %}
		<div class="control-group">
			<div class="controls controls-row">
				<button type="submit" class="btn btn-info">Ajouter l'image</button>
			</div>
		</div>
	</form>
</div>

<script src="{{ asset('bundles/seadmin/js/cms/banque-choose.js') }}"></script>