{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_over %}
	<div class="alert">
		<strong>Information !</strong> Ajouter des images a votre banque d'image pour pouvoir les utiliser sur votre site.<br>Il ne faut pas négliger le titre des images car il jou un rôle important dans votre référencement.
	</div>
{% endblock %}

{% block block_title %}
	Ajouter une image
	<span class="mini-title">Seulement les fichiers images sont accéptés</span>
{% endblock %}

{% block block_content %}
	<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
		{% include 'SEAdminBundle:banque:content-form.html.twig' %}
		<div class="form-actions no-margin">
			<button type="submit" class="btn btn-info pull-right">Ajouter l'image</button>
			<div class="clearfix"></div>
		</div>
	</form>
{% endblock %}