<div class="control-group">
	<div class="controls controls-row">{{ form_widget(form.submitedImg) }}</div>
	<div class="ecart10"></div>

	<label class="control-label" for="name">{{ form_label(form.titre, "Titre de l'image :") }}</label>
	<div class="controls controls-row">{{ form_widget(form.titre) }}</div>
	<div class="ecart10"></div>

	<label class="control-label" for="name">{{ form_label(form.keywords, "Les mots clés :") }}</label>
	<div class="controls controls-row">{{ form_widget(form.keywords) }}</div>
	{{ form_rest(form) }}
</div>
{% if form_errors(form.submitedImg) %}<div class="alert alert-error">{{ form_errors(form.submitedImg) }}</div>{% endif %}