{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	<div class="title">Les images disponibles</div>
{% endblock %}

{% block block_content %}
	<div class="ecart10"></div>
	<ul class="thumbnails">
		{% for img in banques %}
            <li class="span3" style="position: relative;">
                <a href="{{ path('SEAdminBundle_banque_show', { 'id': img.id }) }}" class="thumbnail">
					<img src="{{ asset('media/admin/seadmin_200x120/' ~ img.urlimg) }}" style="width: 100%;">
                </a>
				<a class="remove btn btn-danger btn-small" href="{{ path('SEAdminBundle_banque_remove', { 'id': img.id }) }}"><span class="icon-remove"></span></a>
            </li>
		{% endfor %}
    </ul>
{% endblock %}