{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block body_left %}
	<div class="alert">
		<strong>Information !</strong> Si vous changez l'image, toutes les pages qui utilisent cette image seront modifiées.
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						Modifier l'image
						<span class="mini-title">Seulement les fichiers images sont accéptés</span>
					</div>
				</div>
				<div class="widget-body">
					<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
	                    <div class="control-group">
							<div class="controls controls-row">
	                    		<div class="span3">
	                    			<img src="{{ asset('media/admin/seadmin_200x120/' ~ img.urlimg) }}" style="width: 100%;">
	                    		</div>
	                    	</div>
	                    </div>
						{% include 'SEAdminBundle:banque:content-form.html.twig' %}
						<div class="form-actions no-margin">
							<button type="submit" class="btn btn-info pull-right">Modifier l'image</button>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}