{% extends 'SEAdminBundle:layout:layout_login.html.twig' %}

{% block body %}
	<table cellpadding="0" cellspacing="0" border="0" id="login_container">
		<tr>
			<td valign="center">
				<h1 style="text-align: center; line-height: 0.8em;">{{ seadmin.site.name }}</h1>
				<p style="text-align: center; color: #999; margin-bottom: 20px; line-height: 1em; font-size: 18px; font-style: italic;">Espace sécurisé</p>
				<div id="login_box">
					<form action="{{ path("fos_user_security_check") }}" method="post" style="margin: 0px;">
						{% if error %}
						    <p style="color: #900; font-size: 18px; text-align: center;"><b>Erreur !</b> Identifiant ou mot de passe incorrect.</p>
						{% endif %}

						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

					    <label for="username">Identifiant : </label>
					    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />


					    <label for="password">Mot de passe : </label>
					    <input type="password" id="password" name="_password" required="required" />
					    
					    <p style="text-align: right; margin: 0px;">
					    	<input type="submit" class="btn btn-primary btn-large" id="_submit" name="_submit" value="Connexion" style="margin: 0px;" />
					    </p>
					</form>
				</div>
			</td>
		</tr>
	</table>
{% endblock %}