<ul>
	<li><a href="{{ path('SEAdminBundle_banque_add') }}" class="heading">Banque d'image</a></li>
	<li><a href="{{ path('SEAdminBundle_banque_add') }}">Ajouter une image</a></li>
	<li><a href="{{ path('SEAdminBundle_banque_listing') }}">Voir les images</a></li>
</ul>