<ul>
	<li><a href="{{ path('SEAdminBundle_generic_listing', { 'configkey': configkey }) }}" class="heading">{{ seadmin.modules.generics[configkey].title }}</a></li>
	<li><a href="{{ path('SEAdminBundle_generic_listing', { 'configkey': configkey }) }}">Listing</a></li>
	<li><a href="{{ path('SEAdminBundle_generic_add', { 'configkey': configkey }) }}">Ajouter une entrée</a></li>

	{% if seadmin.modules.generics[configkey].comments is defined and seadmin.modules.generics[configkey].comments %}
		<li><a href="{{ path('SEAdminBundle_comments_listing', { 'configkey': configkey }) }}">Commentaires</a></li>
	{% endif %}
</ul>