<ul>
	<li><a class="heading">{% if seadmin.modules.keyword.title is defined %}{{ seadmin.modules.keyword.title }}{% else %}Mots-clés{% endif %}</a></li>
	<li><a href="{{ path('SEAdminBundle_keyword_add') }}">Afficher le listing</a></li>
	{% if seadmin.modules.keyword.categories is defined and seadmin.modules.keyword.categories %}
		<li><a href="{{ path('SEAdminBundle_category') }}?back={{ path('SEAdminBundle_keyword_add') }}">Les catégories</a></li>
	{% endif %}
</ul>