<ul>
    <li><a href="" class="heading">Newsletters</a></li>
    <li><a href="{{ path('SEAdminBundle_newsletter_listing') }}">Mes Newsletters</a></li>
    <li><a href="{{ path('SEAdminBundle_newsletter_create') }}">Créer une Newsletter</a></li>
    <li><a href="{{ path('SEAdminBundle_newsletter_email_listing') }}">Liste des Emails</a></li>
</ul>