<ul>
	<li><a class="heading">{% if seadmin.modules.news.title is defined %}{{ seadmin.modules.news.title }}{% else %}Actualités{% endif %}</a></li>
	<li><a href="{{ path('SEAdminBundle_news_listing') }}">Afficher le listing</a></li>
	<li><a href="{{ path('SEAdminBundle_news_add') }}">Ajouter</a></li>
	<li><a href="{{ path('SEAdminBundle_news_add_category') }}">Les catégorie</a></li>
</ul>