<ul>
	<li><a href="{{ path('SEAdminBundle_page_listing') }}" class="heading">Les pages</a></li>
	{% for key, page in seadmin.pages %}
		<li><a href="{{ path('SEAdminBundle_page_show', { 'pagekey': key }) }}">{{ page.label }}</a></li>
	{% endfor %}
</ul>