<ul>
	<li><a class="heading">{% if seadmin.modules.prestation.title is defined %}{{ seadmin.modules.prestation.title }}{% else %}Prestations{% endif %}</a></li>
	<li><a href="{{ path('SEAdminBundle_prestation_listing') }}">Afficher le listing</a></li>
	<li><a href="{{ path('SEAdminBundle_prestation_add') }}">Ajouter</a></li>
	{% if seadmin.modules.prestation.categories is defined and seadmin.modules.prestation.categories %}
		<li><a href="{{ path('SEAdminBundle_category') }}?back={{ path('SEAdminBundle_prestation_add') }}">Les catégories</a></li>
	{% endif %}
</ul>