<ul>
	<li><a class="heading">Stockage de fichiers</a></li>
	<li><a href="{{ path('SEAdminBundle_storage_listing') }}">Afficher les fichiers</a></li>
	<li><a href="{{ path('SEAdminBundle_storage_add') }}">Ajouter un fichier</a></li>
</ul>