<div class="control-group">
	{% if form.image is defined %}
		<div class="controls controls-row">{{ form_widget(form.image) }}</div>
		<div class="controls controls-row text-error">{{ form_errors(form.image) }}</div>
		<div class="ecart10"></div>
	{% endif %}

	<label class="control-label">{{ form_label(form.title, "Titre :") }}</label>
	<div class="controls controls-row">{{ form_widget(form.title) }}</div>
	<div class="controls controls-row text-error">{{ form_errors(form.title) }}</div>
	<div class="ecart10"></div>

	<label class="control-label">{{ form_label(form.description, "Description :") }}</label>
	<div class="controls controls-row">{{ form_widget(form.description) }}</div>
	<div class="controls controls-row text-error">{{ form_errors(form.description) }}</div>
	<div class="ecart10"></div>

	{% if form.content is defined %}
		<label class="control-label">{{ form_label(form.content, "Contenu :") }}</label>
		<div class="controls controls-row">{{ form_widget(form.content) }}</div>
	{% endif %}
	{{ form_rest(form) }}
	<div class="controls controls-row">{{ form_errors(form) }}</div>
</div>