{% extends 'SEAdminBundle:layout:layout.html.twig' %}

{% block body_left %}
	<h3 style="margin: 0px;">Les pages de votre site</h3>
	<p style="color: #999;">C'est ici que vous allez pouvoir déterminer les titres et le contenu de vos pages. C'est une étape importante pour votre référencement.</p>
	{% for key,page in seadmin.pages %}
		<div class="ecart10"></div>
		<div class="row-fluid">
			<a class="btn btn-large span12" style="text-align: left;" href="{{ path('SEAdminBundle_page_show', { 'pagekey': key }) }}">
				{% if page.icon is defined %}
					<span class="{{ page.icon }}"></span>
				{% endif %}
				{{ page.label }}
				<span class="pull-right">
					<span class="icon-caret-right"></span>
				</span>
			</a>
		</div>
	{% endfor %}
	<div class="ecart10"></div>
{% endblock %}