{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block body_left %}
	<div class="alert">
		<strong>Rappel !</strong> Les champs titre et description sont très important pour votre référencement. N'oubliez pas de les remplir en y inscrivant un maximum de mots clés.
	</div>

	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Votre page : {{ seadmin.pages[pagekey].label }}</div>
				</div>
				<div class="widget-body">
					<form action="" method="post">
						{% include 'SEAdminBundle:page:content-form.html.twig' %}
						<p class="no-margin" style="text-align: right;"><button type="submit" class="btn btn-info">Modifier</button></p>
					</form>
				</div>
			</div>
		</div>
	</div>

	{# SLIDESHOW #}
	{% if seadmin.pages[pagekey].slideshow is defined and seadmin.pages[pagekey].slideshow %}
		{% include 'SEAdminBundle:slideshow:slideshow-prerender.html.twig' with { 'slideshow': page.slideshow, 'back': path('SEAdminBundle_page_show', { 'pagekey': pagekey }) } %}
	{% endif %}

	{# IMAGES #}
	{% if seadmin.pages[pagekey].images is defined and seadmin.pages[pagekey].images %}
		{% include 'SEAdminBundle:slideshow:images-prerender.html.twig' with { 'slideshow': page.slideshow, 'back': path('SEAdminBundle_page_show', { 'pagekey': pagekey }) } %}
	{% endif %}

	{# VIDEO #}
	{% if seadmin.pages[pagekey].video is defined and seadmin.pages[pagekey].video %}
		{% include 'SEAdminBundle:video:video-prerender.html.twig' with { 'video': page.video, 'back': path('SEAdminBundle_page_show', { 'pagekey': pagekey }) } %}
	{% endif %}
{% endblock %}