{% if categories|length > 0 %}
	<table class="table table-bordered" style="width: 100%; margin: 0px; background-color: #fff;">
		<tr>
			<th style="text-align: center; width: 50px;">#</th>
			<th style="width: 100px;">Images</th>
			<th>Catégorie</th>
			<th style="text-align: center;"></th>
			<th style="text-align: center;"></th>
		</tr>
		{% for cat in categories %}
			<tr>
				<td style="vertical-align: middle; text-align: center;">{{ cat.id }}</td>
				<td style="vertical-align: middle; width: 100px; text-align: center;">
					{% if cat.image.id is defined %}
						<img src="{{ asset('media/admin/seadmin_200x120/' ~ cat.image.urlimg) }}" style="height: 60px;">
					{% else %}
						-
					{% endif %}
				</td>
				<td style="vertical-align: middle;">{{ cat.libelle }}</td>
				<td style="vertical-align: middle; text-align: center; width: 50px;"><a href="{{ path('SEAdminBundle_category_update', { 'id': cat.id }) }}" class="btn"><span class="icon-pencil"></span></a></td>
				<td style="vertical-align: middle; text-align: center; width: 50px;">{% if cat.isFree() %}<a href="{{ path('SEAdminBundle_category_remove', { 'id': cat.id }) }}" class="btn btn-danger"><span class="icon-remove"></span></a>{% else %}-{% endif %}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p style="margin: 0px; text-align: center;">Vous n'avez pas encore de catégories.</p>
{% endif %}