{% extends 'SEAdminBundle:layout:layout.html.twig' %}

{% block body_left %}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Modifier une catégorie</div>
				</div>
				<div class="widget-body">
					<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
						{% include 'SEAdminBundle:category:form.html.twig' %}
						<p style="text-align: right;"><button type="submit" class="btn btn-info pull-right">Modifier</button></p>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}