{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	La configuration globale
{% endblock %}

{% block block_content %}
	{% if seadmin.modules.parameters is defined and seadmin.modules.parameters|length > 0 %}
		<form action="" method="post" class="form-horizontal no-margin" id="parameters_form_container">
			<div class="ecart10"></div>
			{% include 'SEAdminBundle:parameters:generate.html.twig' %}
			{{ form_widget(form._token) }}

			<div class="ecart10"></div>
			<div class="form-actions no-margin">
				<button type="submit" class="btn btn-info pull-right">Modifier</button>
				<div class="clearfix"></div>
			</div>
		</form>
	{% endif %}
{% endblock %}