{% for key, field in form %}
	{% if key != "_token" %}
		<label class="control-label" style="padding: 0px; margin: 0px;">
			{% if field.vars.block_prefixes.3 is not defined or field.vars.block_prefixes.3 != "choose_banque" %}
				{{ form_label(field) }}
			{% endif %}
		</label>
		<div class="controls controls-row">
			{% if separameters[key] is defined %}{% set value = separameters[key] %}{% else %}{% set value = "" %}{% endif %}
			{% if field.vars.expanded is defined and field.vars.expanded %}
				<div id="{{ field.vars.id }}">
					<input {% if value == 1 %}checked="checked"{% endif %} type="radio" id="{{ field.vars.id }}_1" name="{{ field.vars.full_name }}" required="required" value="1"><label for="{{ field.vars.id }}_1" class="required">Oui</label>
					<input {% if value == 0 %}checked="checked"{% endif %} type="radio" id="{{ field.vars.id }}_0" name="{{ field.vars.full_name }}" required="required" value="0"><label for="{{ field.vars.id }}_0" class="required">Non</label>
				</div>
			{% elseif key == "standby_allowedip" %}
				{{ form_widget(field, { 'value': value, 'attr': { 'class': 'span5' } }) }}
				<button type="button" class="btn span3" id="add_ip" data-ip="{{ app.request.server.get('REMOTE_ADDR') }}">Ajouter mon IP</button>
			{% else %}
				{{ form_widget(field, { 'value': value }) }}
			{% endif %}
		</div>
		<div class="ecart10"></div>
	{% endif %}
{% endfor %}