{#
	Les variables : 
		standby
		standby_allowedip
		standby_title
		standby_msg
#}

<div class="widget-body">
	<div class="accordion no-margin" id="accordionStandby">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a href="#collapseStandby" data-toggle="collapse" data-parent="#accordionStandby" class="accordion-toggle" style="font-size: 20px;">
					<i class="icon-power-off"></i>
					Activer ou désactiver le site internet
				</a>
			</div>
			<div class="accordion-body collapse" id="collapseStandby" style="height: 0px; font-size: 14px;">
				<div class="accordion-inner">
					<form action="" method="post" class="form-horizontal no-margin" id="parameters_form_container">
						<div class="ecart10"></div>
						{% include 'SEAdminBundle:parameters:generate.html.twig' %}
						{{ form_widget(form._token) }}
						<input type="hidden" name="standby" value="1">

						<div class="ecart10"></div>
						<div class="form-actions no-margin">
							<button type="submit" class="btn btn-info pull-right">Appliquer</button>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="ecart10"></div>
		<div class="ecart10"></div>
	</div>
</div>