{{ form_start(form) }}
	{{ form_label(form.username) }}
	{{ form_widget(form.username) }}
	{{ form_label(form.email) }}
	{{ form_widget(form.email) }}
	{{ form_label(form.content) }}
	{{ form_widget(form.content) }}
	<div style="display: none;">
		<input value="" type="text" name="company">
		<input value="" type="text" name="firstname">
		<input value="" type="text" name="lastname">
		<input value="" type="text" name="address">
	</div>
	<button type="submit">Envoyer</button>
{{ form_end(form) }}