<h1>Un nouveau commentaire : {{ gen.title }}</h1>
<p>
	Pseudo : <b>{{ comment.username }}</b><br>
	Email : <b>{{ comment.email }}</b><br><br>
	<b>Commentaire :</b><br>
	{{ comment.content|striptags|nl2br|raw }}
</p>