{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	{{ seadmin.modules.generics[configkey].title }} : Les commentaires
	<span class="mini-title">Total : {{ comments|length }}</span>
{% endblock %}

{% block block_content %}
	{% if comments|length > 0 %}
		<table class="table table-bordered" style="background-color: #fff;">
			<tr>
				<th style="text-align: center; vertical-align: middle;">{{ seadmin.modules.generics[comments.0.generic.configkey].title }}</th>
				<th style="text-align: center;">Date</th>
				<th style="text-align: center;">Pseudo</th>
				<th style="text-align: center;">Email</th>
				<th>Commentaire</th>
				<th></th>
				<th></th>
			</tr>
			<tbody>
				{% for com in comments %}
					<tr data-ref="{{ com.id }}">
						<td style="width: 150px; vertical-align: middle; text-align: center;">{{ com.generic.title }}</td>
						<td style="width: 80px; vertical-align: middle; text-align: center">{{ com.datepost|date('d/m/Y H:i') }}</td>
						<td style="width: 100px; vertical-align: middle; text-align: center;">
							{% if com.username %}{{ com.username }}{% else %}-{% endif %}
						</td>
						<td style="width: 100px; vertical-align: middle; text-align: center;">
							{% if com.email %}{{ com.email }}{% else %}-{% endif %}
						</td>
						<td>{{ com.content|striptags|nl2br|raw }}</td>
						<td style="width: 50px; vertical-align: middle; text-align: center;">
							<a href="{{ path('SEAdminBundle_comments_update', { 'configkey': configkey, 'refcomment': com.id }) }}" class="btn"><span class="icon-pencil"></span></a>
						</td>
						<td style="width: 50px; vertical-align: middle; text-align: center;">
							<a href="{{ path('SEAdminBundle_comments_remove', { 'configkey': configkey, 'refcomment': com.id }) }}" class="btn btn-danger"><span class="icon-remove"></span></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}