{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	{{ seadmin.modules.generics[configkey].title }} : Commentaire du {{ comment.datepost|date('d/m/Y H:i') }}
{% endblock %}

{% block block_content %}
	<div class="widget-body">
		<form action="" method="post" class="form-horizontal no-margin">
			{{ form_widget(form._token) }}

			<label class="control-label" style="padding: 0px; margin: 0px;">{{ form_label(form.username) }}</label>
			<div class="controls controls-row">{{ form_widget(form.username) }}</div>
			<div class="controls controls-row text-error">{{ form_errors(form.username) }}</div>
			<div class="ecart10"></div>

			<label class="control-label" style="padding: 0px; margin: 0px;">{{ form_label(form.email) }}</label>
			<div class="controls controls-row">{{ form_widget(form.email) }}</div>
			<div class="controls controls-row text-error">{{ form_errors(form.email) }}</div>
			<div class="ecart10"></div>

			<label class="control-label" style="padding: 0px; margin: 0px;">{{ form_label(form.content) }}</label>
			<div class="controls controls-row">{{ form_widget(form.content) }}</div>
			<div class="controls controls-row text-error">{{ form_errors(form.content) }}</div>
			<div class="ecart10"></div>

			<div class="ecart10"></div>
			<div class="form-actions no-margin">
				<button type="submit" class="btn btn-info pull-right">Modifier</button>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
{% endblock %}