<div class="widget-body">
	<div class="accordion no-margin" id="accordionStandby">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a href="#collapseOldBrowser" data-toggle="collapse" data-parent="#accordionStandby" class="accordion-toggle" style="font-size: 20px;">
					<i class="icon-globe"></i>
					Gestion des anciens navigateurs
				</a>
			</div>
			<div class="accordion-body collapse" id="collapseOldBrowser" style="height: 0px; font-size: 14px;">
				<div class="accordion-inner">
					<form action="" method="post" class="form-horizontal no-margin" id="parameters_form_container">
						<div class="ecart10"></div>
						<label class="control-label" style="padding: 0px; margin: 0px;"></label>
						<div class="controls controls-row">
							<p class="text-info">Proposer la mise à jour du navigateur si la version est inférieur ou égale à : </p>
						</div>
						{% include 'SEAdminBundle:parameters:generate.html.twig' with { 'form': formOldBrowser } %}
						<input type="hidden" name="oldbrowser" value="1">
						{{ form_widget(formOldBrowser._token) }}

						<div class="ecart10"></div>
						<div class="form-actions no-margin">
							<button type="submit" class="btn btn-info pull-right">Appliquer</button>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="ecart10"></div>
		<div class="ecart10"></div>
	</div>
</div>