<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Votre naviguateur n'est pas à jour</title>
	</head>
	<body>
		<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;">
			<tr>
				<td valign="center" align="center">
					<h1 style="margin: 0px; font-family: Arial;">
						{% if separameters.oldbrowser_title is defined and separameters.oldbrowser_title != "" %}
							{{ separameters.oldbrowser_title }}
						{% else %}
							Votre naviguateur ne permet pas d'afficher le site correctement.
						{% endif %}
					</h1>
					<p style="font-family: Arial; color: #999; font-size: 18px;">
						{% if separameters.oldbrowser_msg is defined and separameters.oldbrowser_msg != "" %}
							{{ separameters.oldbrowser_msg }}
						{% else %}
							Nous vous conseillons de mettre à jour votre naviguateur pour augmenter la sécurité.
						{% endif %}
					</p>
					<a href="http://browsehappy.com" style="font-family: Arial; text-decoration: none; color: #900;">Mettre à jour mon navigateur</a>
				</td>
			</tr>
		</table>
	</body>
</html>