{% if seadmin.modules.generics[configkey].fields is defined and seadmin.modules.generics[configkey].fields|length > 0 %}
	{% for key, field in form.submitedFields %}		
		<label class="control-label" style="padding: 0px; margin: 0px;">
			{% if field.vars.block_prefixes.3 is not defined or field.vars.block_prefixes.3 != "choose_banque" %}
				{{ form_label(field) }}
			{% endif %}
		</label>
		<div class="controls controls-row">
			{% set value = "" %}
			{% if generic %}
				{% if generic.getField(key) %}
					{% set value = generic.getField(key) %}
				{% endif %}
			{% endif %}

			{% if field.vars.expanded is defined and field.vars.expanded %}
				<div id="{{ field.vars.id }}">
					<input {% if value == 1 %}checked="checked"{% endif %} type="radio" id="{{ field.vars.id }}_1" name="{{ field.vars.full_name }}" required="required" value="1"><label for="{{ field.vars.id }}_1" class="required">Oui</label>
					<input {% if value == 0 %}checked="checked"{% endif %} type="radio" id="{{ field.vars.id }}_0" name="{{ field.vars.full_name }}" required="required" value="0"><label for="{{ field.vars.id }}_0" class="required">Non</label>
				</div>
			{% else %}
				{{ form_widget(field, { 'value': value }) }}
			{% endif %}
		</div>
		<div class="ecart10"></div>
	{% endfor %}
{% endif %}

