{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block javascripts %}{% endblock %}

{% block body_left %}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						{{ seadmin.modules.generics[configkey].title }}
						<span class="mini-title">Formulaire</span>
					</div>
				</div>
				<div class="widget-body">
					<form action="" method="post" class="form-horizontal no-margin">
						{{ form_widget(form._token) }}

						{% set displayed = seadmin.modules.generics[configkey].displayed %}

						{% if displayed.image is defined and displayed.image %}
							<label class="control-label" style="padding: 0px; margin: 0px;"></label>
							<div class="controls controls-row">{{ form_widget(form.image) }}</div>
							<div class="controls controls-row text-error">{{ form_errors(form.image) }}</div>
							<div class="ecart10"></div>
						{% endif %}

						<label class="control-label" style="padding: 0px; margin: 0px;">{{ form_label(form.title) }}</label>
						<div class="controls controls-row">{{ form_widget(form.title) }}</div>
						<div class="controls controls-row text-error">{{ form_errors(form.title) }}</div>
						<div class="ecart10"></div>

						{% if displayed.date is defined and displayed.date %}
							<label class="control-label" style="padding: 0px; margin: 0px;">Date :</label>
							<div class="controls controls-row">{{ form_widget(form.datepost) }}</div>
							<div class="ecart10"></div>
						{% endif %}

						{% include 'SEAdminBundle:generic:fields.html.twig' %}

						{% if seadmin.modules.generics[configkey].mappedmany is defined %}
							<label class="control-label" style="padding: 0px; margin: 0px;">{{ form_label(form.genericsparents) }}</label>
							<div class="controls controls-row">{{ form_widget(form.genericsparents) }}</div>
							<div class="ecart10"></div>
						{% endif %}

						{% if displayed.content is defined and displayed.content %}
							<label class="control-label" style="padding: 0px; margin: 0px;">{{ form_label(form.content) }}</label>
							<div class="controls controls-row">{{ form_widget(form.content) }}</div>
							<div class="controls controls-row text-error">{{ form_errors(form.content) }}</div>
							<div class="ecart10"></div>
						{% endif %}
						
						<div class="ecart10"></div>
						<div class="form-actions no-margin">
							<button type="submit" class="btn btn-info pull-right">{% if generic %}Modifier{% else %}Ajouter{% endif %}</button>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	{% if generic and seadmin.modules.generics[configkey].displayed.images is defined and seadmin.modules.generics[configkey].displayed.images %}
		{# IMAGES #}
		{% include 'SEAdminBundle:slideshow:images-prerender.html.twig' with { 'slideshow': generic.slideshow, 'back': path('SEAdminBundle_generic_add', { 'configkey': configkey, 'refgen': generic.id }) } %}
	{% endif %}

	{% if generic and seadmin.modules.generics[configkey].displayed.youtube is defined and seadmin.modules.generics[configkey].displayed.youtube %}
		{# YOUTUBE #}
		{% include 'SEAdminBundle:youtube:add.html.twig' with { 'back': path('SEAdminBundle_generic_add', { 'configkey': configkey, 'refgen': generic.id }) } %}
	{% endif %}

	{% if generic and seadmin.modules.generics[configkey].displayed.files is defined and seadmin.modules.generics[configkey].displayed.files %}
		{# FILES #}
		{% include 'SEAdminBundle:genericfile:add.html.twig' with { 'back': path('SEAdminBundle_generic_add', { 'configkey': configkey, 'refgen': generic.id }) } %}
	{% endif %}

{% endblock %}