<table class="table table-bordered" style="background-color: #fff;">
	<tr>
		<th style="text-align: center; vertical-align: middle;">#</th>
		{% if seadmin.modules.generics[configkey].displayed.image is defined and seadmin.modules.generics[configkey].displayed.image %}
			<th width="150" style="text-align: center; vertical-align: middle;">Illustration</th>
		{% endif %}
		<th style="text-align: center; vertical-align: middle;">Titre</th>
		<th></th>
		<th></th>
	</tr>
	<tbody id="sort_generic_list" data-url="{{ path('SEAdminBundle_generic_sort', { 'configkey': configkey }) }}">
		{% for gen in generics %}
			<tr data-ref="{{ gen.id }}">
				<td style="width: 30px; vertical-align: middle; text-align: center;">
					{% if seadmin.modules.generics[configkey].displayed.position is defined and seadmin.modules.generics[configkey].displayed.position %}<button class="btn btn-small move_generic"><span class="icon-move"></span></button>{% else %}{{ gen.id }}{% endif %}
				</td>
				{% if seadmin.modules.generics[configkey].displayed.image is defined and seadmin.modules.generics[configkey].displayed.image %}
					<td style="width: 150px; vertical-align: middle; text-align: center;">
						{% if gen.image.id is defined %}
						    <img src="{{ asset('media/admin/seadmin_200x120/' ~ gen.image.urlimg) }}" style="width: 100%;">
		                {% else %}
		                    <img src="{{ asset('bundles/seadmin/img/empty.png') }}" style="width: 100%;">
		                {% endif %}
					</td>
				{% endif %}
				<td style=" vertical-align: middle;">{{ gen.title }}</td>
				<td style="width: 50px; vertical-align: middle; text-align: center;"><a href="{{ path('SEAdminBundle_generic_add', { 'configkey': configkey, 'refgen': gen.id }) }}" class="btn"><span class="icon-eye-open"></span></a></td>
				<td style="width: 50px; vertical-align: middle; text-align: center;">
					<a href="{{ path('SEAdminBundle_generic_remove', { 'configkey': configkey, 'refgen': gen.id }) }}" class="btn btn-danger"><span class="icon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>