{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	{{ seadmin.modules.generics[configkey].title }}
	<span class="mini-title">Total : {{ generics|length }}</span>
{% endblock %}

{% block javascripts %}
	{% if seadmin.modules.generics[configkey].displayed.position is defined and seadmin.modules.generics[configkey].displayed.position %}
		<script src="{{ asset('bundles/seadmin/js/cms/generic-sort.js') }}"></script>
	{% endif %}
{% endblock %}

{% block block_content %}
	{% if seadmin.modules.generics[configkey].format is defined and seadmin.modules.generics[configkey].format == "list" %}
		{% include 'SEAdminBundle:generic:list.html.twig' %}
	{% else %}
		{% include 'SEAdminBundle:generic:thumbnail.html.twig' %}
	{% endif %}
{% endblock %}