<div class="ecart10"></div>
<ul class="thumbnails" id="sort_generic" data-url="{{ path('SEAdminBundle_generic_sort', { 'configkey': configkey }) }}">
	{% for gen in generics %}
        <li class="span3" data-ref="{{ gen.id }}" style="position: relative;">
            <a href="{{ path('SEAdminBundle_generic_add', { 'configkey': configkey, 'refgen': gen.id }) }}" class="thumbnail">
                {% if gen.image.id is defined %}
				    <img src="{{ asset('media/admin/seadmin_200x120/' ~ gen.image.urlimg) }}" style="width: 100%;">
                {% else %}
                    <img src="{{ asset('bundles/seadmin/img/empty.png') }}" style="width: 100%;">
                {% endif %}
				<p class="thumb-title dotdotdot">{{ gen.title }}</p>
            </a>
            {% if seadmin.modules.generics[configkey].displayed.position is defined and seadmin.modules.generics[configkey].displayed.position %}
			    <button class="btn btn-small move move_generic"><span class="icon-move"></span></button>
            {% endif %}
			<a class="remove btn btn-danger btn-small" href="{{ path('SEAdminBundle_generic_remove', { 'configkey': configkey, 'refgen': gen.id }) }}"><span class="icon-remove"></span></a>
        </li>
	{% endfor %}
</ul>