{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	Ajouter un fichier
	<span class="mini-title"></span>
{% endblock %}

{% block block_content %}
	<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
		{{ form_widget(form.submitedFile) }}
		<div class="text-error">{{ form_errors(form.submitedFile) }}</div>
		<div class="ecart10"></div>

		{{ form_widget(form.title) }}
		<div class="text-error">{{ form_errors(form.title) }}</div>
		<div class="ecart10"></div>

		{{ form_rest(form) }}
		<p class="no-margin" style="text-align: right;"><button type="submit" class="btn btn-info">Ajouter le fichier</button></p>
	</form>
{% endblock %}