{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% block block_title %}
	Liste des fichiers
	<span class="mini-title">Nombre : {{ files|length }}</span>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/seadmin/js/cms/storage.js') }}"></script>
{% endblock %}

{% block block_content %}
	{% if files|length > 0 %}
		<div class="ecart10"></div>
		<table class="table table-bordered" style="background-color: #fff;">
			<tr>
				<th></th>
				<th style="text-align: left; vertical-align: middle;">Titre</th>
				<th style="text-align: center; vertical-align: middle;">Url</th>
				<th style="text-align: center; vertical-align: middle;">Date</th>
				<th></th>
			</tr>
			<tbody id="sort_files_list" data-url="{{ path('SEAdminBundle_storage_sort') }}">
				{% for file in files %}
					<tr data-ref="{{ file.id }}">
						<td style="width: 30px; vertical-align: middle; text-align: center;">
							<button class="btn btn-small move_files"><span class="icon-move"></span></button>
						</td>
						<td style="text-align: left; vertical-align: middle;"><b>{{ file.title }}</b></td>
						<td style="text-align: center; vertical-align: middle;">
							<a href="{{ asset(file.urlfile) }}">{{ app.request.getSchemeAndHttpHost() }}{{ asset(file.urlfile) }}</a>
						</td>
						<td style="text-align: center; vertical-align: middle;">{{ file.dateadd|date('d/m/Y h:i') }}</td>
						<td style="width: 50px; vertical-align: middle; text-align: center;"><a href="{{ path('SEAdminBundle_storage_remove', { 'id' : file.id }) }}" class="btn btn-danger"><span class="icon-remove"></span></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-danger">
			<strong>Infos !</strong> Vous avez aucun fichier pour le moment, pour commencer a en ajouter, <a href="{{ path('SEAdminBundle_storage_add') }}">cliquez ici</a>.
		</div>
	{% endif %}
{% endblock %}