<div class="accordion-group">
	<div class="accordion-heading">
		<a href="#collapseContact" data-toggle="collapse" data-parent="#accordionHelp" class="accordion-toggle" style="font-size: 20px;">
			<i class="icon-phone"></i>
			Maintenance et contact
		</a>
	</div>
	<div class="accordion-body collapse" id="collapseContact" style="height: 0px; font-size: 14px;">
		<div class="accordion-inner">
			<p>Site vous rencontrez des difficultés ou anomalies liés à votre site internet vous pouvez nous contacter par mail ou téléphone, nous nous ferons un plaisir de vous aidez : </p>
			<p style="font-size: 18px; text-indent: 30px; margin: 0px;"><b>{{ seadmin.help.contact.company }}</b></p>
			<p style="margin: 0px; margin-left: 30px;"><span class="icon-phone no-margin"></span> {{ seadmin.help.contact.phone }}</p>
			<p style="margin: 0px; margin-left: 30px;"><span class="icon-envelope no-margin"></span> {{ seadmin.help.contact.email }}</p>
			<p style="margin: 0px; margin-left: 30px;"><span class="icon-home no-margin"></span> {{ seadmin.help.contact.address }}</p>
		</div>
	</div>
</div>
<div class="ecart10"></div>