<div class="accordion-group">
	<div class="accordion-heading">
		<a href="#collapseEmail" data-toggle="collapse" data-parent="#accordionHelp" class="accordion-toggle" style="font-size: 20px;">
			<i class="icon-envelope"></i>
			Comment configurer ma boite mail
		</a>
	</div>
	<div class="accordion-body collapse" id="collapseEmail" style="height: 0px; font-size: 14px;">
		<div class="accordion-inner">
			<p><b>Todo comment configurer ma boite mail.</b></p>
		</div>
	</div>
</div>
<div class="ecart10"></div>