<div class="accordion-group">
	<div class="accordion-heading">
		<a href="#collapseHosting" data-toggle="collapse" data-parent="#accordionHelp" class="accordion-toggle" style="font-size: 20px;">
			<i class="icon-tasks"></i>
			Votre hébergement
		</a>
	</div>
	<div class="accordion-body collapse" id="collapseHosting" style="height: 0px; font-size: 14px;">
		<div class="accordion-inner">
			<p><b>Votre forfait d'hébergement comprends :</b></p>
			<p style="text-indent: 30px; margin: 0px;">- La redevence annuel pour votre nom de domaine</p>
			<p style="text-indent: 30px; margin: 0px;">- La location du serveur pour héberger le contenu de votre site internet</p>
			<div class="ecart10"></div>
			<p style="margin: 0px;">Votre forfait arrive à expiration le <b>{{ invoice.nextinvoice|date('d/m/Y') }}</b></p>
			<p style="margin: 0px;">Le tarif annuel de votre redevance est de <b>{{ invoice.montant }}€ HT</b></p>
			<div class="ecart10"></div>
			<div class="alert no-margin">
				<strong>Rappel !</strong> Pour régler votre abonnement vous pouvez nous envoyer un chèque à l'ordre de :<br>
			</div>
			<div class="ecart10"></div>
			<p style="margin: 0px;">
				<b>{{ seadmin.help.contact.company }}</b><br>
				{{ seadmin.help.contact.address }}
			</p>
		</div>
	</div>
</div>
<div class="ecart10"></div>