<div class="accordion-group">
	<div class="accordion-heading">
		<a href="#collapseImage" data-toggle="collapse" data-parent="#accordionHelp" class="accordion-toggle" style="font-size: 20px;">
			<i class="icon-camera"></i>
			Les images de votre site internet
		</a>
	</div>
	<div class="accordion-body collapse" id="collapseImage" style="height: 0px; font-size: 14px;">
		<div class="accordion-inner">
			<p><b>Todo le concept de la banque d'image</b></p>
		</div>
	</div>
</div>
<div class="ecart10"></div>