<div class="accordion-group">
	<div class="accordion-heading">
		<a href="#collapseSeo" data-toggle="collapse" data-parent="#accordionHelp" class="accordion-toggle" style="font-size: 20px;">
			<i class="icon-signal"></i>
			Conseil pour le référencement
		</a>
	</div>
	<div class="accordion-body collapse" id="collapseSeo" style="height: 0px; font-size: 14px;">
		<div class="accordion-inner">
			<p><b>Todo point sur la SEO by Séb</b></p>
		</div>
	</div>
</div>
<div class="ecart10"></div>