<div class="accordion-group">
	<div class="accordion-heading">
		<a href="#collapseVideo" data-toggle="collapse" data-parent="#accordionHelp" class="accordion-toggle" style="font-size: 20px;">
			<i class="icon-film"></i>
			Charger une vidéo sur votre site
		</a>
	</div>
	<div class="accordion-body collapse" id="collapseVideo" style="height: 0px; font-size: 14px;">
		<div class="accordion-inner">
			<p>Afin d'avoir une compatibilité avec un maximum de support vous devez charger vos vidéos sous 3 formats. (MP4, OGG et WebM)</p>
			<p>Pour convertir vos vidéos dans ces 3 formats vous pouvez utiliser le logiciel <b>Miro Vidéo Converter</b> en <a href="" style="text-decoration: underline;">le téléchargent ici.</a></p>
		</div>
	</div>
</div>
<div class="ecart10"></div>