<div class="hide" style="{% if seadmin.modules.keyword.image is defined and seadmin.modules.keyword.image %}display: block;{% endif %}">
	<div class="row-fluid">
		<div class="span12">{{ form_widget(form.submitedImg) }}</div>
		<div class="text-error">{{ form_errors(form.submitedImg) }}</div>
	</div>
	<div class="ecart10"></div>
</div>
<div class="row-fluid">
	<div class="span12">{{ form_widget(form.title) }}</div>
	<div class="text-error">{{ form_errors(form.title) }}</div>
</div>
<div class="ecart10"></div>
<div class="row-fluid">
	<div class="span12">{{ form_widget(form.url) }}</div>
	<div class="text-error">{{ form_errors(form.url) }}</div>
</div>
<div class="hide" style="{% if seadmin.modules.keyword.categories is defined and seadmin.modules.keyword.categories %}display: block;{% endif %}">
	<div class="ecart10"></div>
	<div class="row-fluid">
		<div class="span12">{{ form_widget(form.categories) }}</div>
		<div class="text-error">{{ form_errors(form.categories) }}</div>
	</div>
</div>
<div class="row-fluid">
	{{ form_rest(form) }}
	<div class="text-error">{{ form_errors(form) }}</div>
</div>
<div class="ecart10"></div>