{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block javascripts %}
	<script src="{{ asset('bundles/seadmin/js/cms/keyword-sort.js') }}"></script>
{% endblock %}

{% block body_left %}
	<div class="row-fluid">
		<div class="span6">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Ajouter</div>
				</div>
				<div class="widget-body">
					<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
						{% include 'SEAdminBundle:keyword:form.html.twig' %}
						<p style="text-align: right;"><button type="submit" class="btn btn-info pull-right">Ajouter</button></p>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="span6">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Liste</div>
				</div>
				<div class="widget-body">
					{% include 'SEAdminBundle:keyword:listing.html.twig' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}