{% if kws|length > 0 %}
	<table class="table table-bordered" style="width: 100%; margin: 0px; background-color: #fff;">
		<tr>
			<th style="text-align: center; width: 50px;"><span class="icon-move"></span></th>
			{% if seadmin.modules.keyword.image is defined and seadmin.modules.keyword.image %}
				<th style="width: 50px;">Images</th>
			{% endif %}
			<th>Libellé</th>
			{% if seadmin.modules.keyword.categories is defined and seadmin.modules.keyword.categories %}
				<th>Catégories</th>
			{% endif %}
			<th style="text-align: center;"></th>
		</tr>
		<tbody id="sort_kw" data-url="{{ path('SEAdminBundle_keyword_savesort') }}">
			{% for kw in kws %}
				<tr data-ref="{{ kw.id }}"> 
					<td style="vertical-align: middle; text-align: center; width: 50px;"><button class="btn move_kw"><span class="icon-move"></span></button></td>
					{% if seadmin.modules.keyword.image is defined and seadmin.modules.keyword.image %}
						<td style="vertical-align: middle; width: 50px; text-align: center;">
							{% if kw.urlimg != "" %}
								<img src="{{ asset(kw.urlimg) }}" style="height: 20px;">
							{% else %}
								-
							{% endif %}
						</td>
					{% endif %}
					<td style="vertical-align: middle;">{{ kw.title }}</td>
					{% if seadmin.modules.keyword.categories is defined and seadmin.modules.keyword.categories %}
						<td style="vertical-align: middle;">
							{% for key,cat in kw.categories %}
								{{ cat.libelle }}{% if key + 1 != kw.categories|length %}, {% endif %}
							{% endfor %}
						</td>
					{% endif %}
					<td style="vertical-align: middle; text-align: center; width: 50px;"><a href="{{ path('SEAdminBundle_keyword_remove', { 'id': kw.id }) }}" class="btn btn-danger"><span class="icon-remove"></span></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p style="margin: 0px; text-align: center;">Vous n'avez pas encore d'entrée.</p>
{% endif %}