* {
	font-family: Arial;
}

#login_container {
	width: 100%; height: 100%;
	position: fixed;
	top: 0px; left: 0px;
}

#login_box {
	background-color: #ffffff;
	border: 1px solid #999999;
	padding: 50px;
	width: 600px;
	max-width: 100%;
	margin-bottom: 100px;
	margin: auto;
}

body {
	background-color: #EFEFEF;
}

#username {
	width: 100%; height: 25px;
	font-size: 16px;
	line-height: 25px;
	display: block;
}

#password {
	width: 50%; height: 25px;
	font-size: 16px;
	line-height: 25px;
	display: block;
}