<div class="widget">
    <div class="widget-header">
        <div class="title">Les fichiers annexes</div>
    </div>
    <div class="widget-body">
        <a class="btn" style="font-size: 16px; float: right;" href="{{ path('SEAdminBundle_genericcategory_add', { 'id': generic.id }) }}">Ajouter une catégorie de fichier</a>
        <div style="width: 100%; height: 20px;"></div>
        <form action="{{ path('SEAdminBundle_genericfile_update', { 'id': generic.id }) }}" method="post" enctype="multipart/form-data">
            {% render controller('SEAdminBundle:GenericFile:form', { 'id': generic.id }) %}
            <button type="submit" class="btn btn-info">Ajouter</button>
        </form>

        {% if generic.files|length > 0 %}
            <div style="width: 100%; height: 10px;"></div>
            <table class="table table-bordered" style="background-color: #fff;">
                <tr>
                    <th></th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Fichier</th>
                    <th></th>
                </tr>
                <tbody id="sort_file" data-url="{{ path('SEAdminBundle_genericfile_sort', { 'id': generic.id }) }}">
                    {% for file in generic.files %}
                        <tr data-ref="{{ file.id }}">
                            <td align="center" style="text-align: center;"><button type="button" class="btn btn-small move_generic" style="position: relative;"><span class="icon-move"></span></button></td>
                            <td>{{ file.title }}</td>
                            <td>{% if file.category.id is defined %}{{ file.category.title }}{% else %}-{% endif %}</td>
                            <td>
                                {% if file.url %}
                                    <a href="{{ asset(file.url) }}">Télécharger le fichier</a>
                                {% elseif file.urlweb %}
                                    <a href="{{ asset(file.urlweb) }}">{{ file.urlweb }}</a>
                                {% else %}-{% endif %}
                            </td>
                            <td align="center" style="text-align: center;"><a class="remove btn btn-danger btn-small" href="{{ path('SEAdminBundle_genericfile_remove', { 'id': file.id }) }}" style="position: relative;"><span class="icon-remove"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script src="{{ asset('bundles/seadmin/js/cms/file.js') }}"></script>
        {% endif %}
    </div>
</div>