{{ form_widget(form.submittedFile) }}
{{ form_errors(form.submittedFile) }}
<div class="row-fluid">
	<div class="span6">
		{{ form_widget(form.urlweb) }}
	</div>
	<br class="clear">
	<div class="span6">
		{{ form_widget(form.title) }}
	</div>
	<div class="span12">
		{{ form_label(form.category, 'Catégorie : ') }}
		{{ form_widget(form.category) }}
	</div>
</div>
{{ form_widget(form._token) }}
<div class="ecart10"></div>