{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block javascripts %}{% endblock %}

{% block body_left %}
	<div class="row-fluid">
		<div class="span4">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						Ajouter une categorie
						<span class="mini-title">Formulaire</span>
					</div>
				</div>
				<div class="widget-body">
					{{ form_start(form) }}
						{{ form_widget(form.title) }}
						{{ form_errors(form.title) }}
						{{ form_widget(form.content) }}
						<button type="submit" class="btn btn-info">Ajouter</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>

		<div class="span8">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Les catégories</div>
				</div>
				<div class="widget-body">
					{% if categories|length > 0 %}
						<table class="table table-bordered" style="width: 100%; margin: 0px; background-color: #fff;">
							<tr>
								<th style="text-align: center; width: 50px;">#</th>
								<th>Catégorie</th>
								<th>Description</th>
								<th style="text-align: center;"></th>
							</tr>
							{% for cat in categories %}
								<tr>
									<td style="vertical-align: middle; text-align: center;">{{ cat.id }}</td>
									<td style="vertical-align: middle;">{{ cat.title }}</td>
									<td style="vertical-align: middle;">{{ cat.content|nl2br|raw }}</td>
									<td style="vertical-align: middle; text-align: center; width: 50px;">{% if cat.isFree() %}<a href="{{ path('SEAdminBundle_genericcategory_remove', { 'id': gen.id, 'refcat': cat.id }) }}" class="btn btn-danger"><span class="icon-remove"></span></a>{% else %}-{% endif %}</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<p style="margin: 0px; text-align: center;">Vous n'avez pas encore de catégories.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}