{###################}
{## CHOOSE_BANQUE ##}
{###################}
{% block choose_banque_widget %}
	<div class="ecart10"></div>
	<script src="{{ asset('bundles/seadmin/js/form/form-banque.js') }}"></script>
	<span class="choose_please">
	    <div class="report">
	    	{% if value != "" %}
	    		{% render controller('SEAdminBundle:Banque:generateImage', { 'id': value }) %}
				<div style="width: 100%; height: 10px;"></div>
			{% endif %}
	    </div>
        <label style="position: relative; margin: 0px;">
	        <button type="button" class="btn open_choosable_img" data-url="{{ path('SEAdminBundle_banque_open') }}">
	            <span class="icon-folder-open"></span>
	        </button>
	        {{ label }}
	    </label>
        <input type="hidden" value="{{ value }}" {{ block('widget_attributes') }} />
    </span>
{% endblock %}

{##############}
{## REDACTOR ##}
{##############}
{% block redactor_widget %}
	<script src="{{ asset('bundles/seadmin/js/form/form-redactor.js') }}"></script>
	<textarea data-url="{{ path('SEAdminBundle_banque_open') }}" data-created="0" class="cms_redactor" {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock %}

{#################}
{## DATE PICKER ##}
{#################}
{% block datepicker_widget %}
	<script src="{{ asset('bundles/seadmin/js/form/form-datepicker.js') }}"></script>
	<input class="datepicker-form" type="text" {{ block('widget_attributes') }} value="{{ value }}" />
{% endblock %}