<div class="widget">
	<div class="widget-header">
		<div class="title">Les vidéos Youtube</div>
	</div>
	<div class="widget-body">
		<form action="{{ path('SEAdminBundle_youtube_update', { 'id': generic.id }) }}" method="post">
			{% render controller('SEAdminBundle:Youtube:form', { 'id': generic.id }) %}
			<button type="submit" class="btn btn-info">Ajouter</button>
		</form>

		{% if generic.youtubes|length > 0 %}
			<div style="width: 100%; height: 10px;"></div>
			<ul class="thumbnails" id="sort_youtube" data-url="{{ path('SEAdminBundle_youtube_sort', { 'id': generic.id }) }}">
				{% for youtube in generic.youtubes %}
		            <li class="span3" data-ref="{{ youtube.id }}" style="position: relative;">
		                <a href="{{ youtube.url }}" target="_blank" class="thumbnail">
							<img src="{{ asset('media/admin/seadmin_200x120/' ~ youtube.image.urlimg) }}" style="width: 100%;">
		                </a>
						<button type="button" class="btn btn-small move"><span class="icon-move"></span></button>
						<a class="remove btn btn-danger btn-small remove_slideshow_image" href="{{ path('SEAdminBundle_youtube_remove', { 'id': youtube.id }) }}"><span class="icon-remove"></span></a>
		            </li>
				{% endfor %}
		    </ul>
			<script src="{{ asset('bundles/seadmin/js/cms/youtube.js') }}"></script>
		{% endif %}
	</div>
</div>