{{ form_widget(form.image) }}
{{ form_errors(form.image) }}
<div class="ecart10"></div>
<div class="row-fluid">
	<div class="span6">
		{{ form_widget(form.title) }}
	</div>
	<div class="span6">
		{{ form_widget(form.url) }}
	</div>
</div>
{{ form_widget(form._token) }}
<div class="ecart10"></div>