{% extends 'SEAdminBundle:layout:layout.html.twig' %}

{% block body_left %}
	<div class="row-fluid">
		<div class="span4">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Ajouter une catégorie</div>
				</div>
				<div class="widget-body">
					<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
						{% include 'SEAdminBundle:news:content-form-category.html.twig' %}
						<p style="text-align: right;"><button type="submit" class="btn btn-info pull-right">Ajouter</button></p>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="span8">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Les catégories</div>
				</div>
				<div class="widget-body">
					{% include 'SEAdminBundle:news:listing-categories.html.twig' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}