<div class="control-group">
	<div class="controls controls-row">{{ form_widget(form.libelle) }}</div>
	<div class="controls controls-row text-error">{{ form_errors(form.libelle) }}</div>
	{{ form_rest(form) }}
	<div class="controls controls-row">{{ form_errors(form) }}</div>
</div>