{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block body_left %}
	<div class="row-fluid">
		<div class="span4">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Ajouter une catégorie</div>
				</div>
				<div class="widget-body">
					<form action="" method="post" style="margin: 0px;">
						{% include 'SEAdminBundle:news:categorie-form.html.twig' %}
						<button type="submit" class="btn btn-info pull-right">Ajouter</button>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="span8">
			{% if cats|length > 0 %}
				<table class="table table-bordered" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
					<tr>
						<th style="text-align: center; font-size: 20px; color: #ffffff; background-color: #333;" colspan="4">Les catégories <span style="font-size: 14px; color: #DEDEDE; font-weight: normal;">Nombre : {{ cats|length }}</span></div></th>
					</tr>
					<tr>
						<th style="background-color: #666; color: #fff; text-align: center;" width="50">#</th>
						<th style="background-color: #666; color: #fff; text-align: left;">Libellé</th>
						<th style="background-color: #666; color: #fff; text-align: center;" width="50">Liaisons</th>
						<th style="background-color: #666; color: #fff; text-align: center;" width="50"></th>
					</tr>
					{% for key,cat in cats %}
						<tr bgcolor="{% if lastadd and lastadd.0 == cat.id %}#77EE77{% endif %}">
							<td style="text-align: center; vertical-align: middle;">{{ cat.id }}</td>
							<td style="vertical-align: middle;">{{ cat.libelle }}</td>
							<td style="text-align: center; vertical-align: middle;">{{ cat.news|length }}</td>
							<td style="text-align: center; vertical-align: middle;"><a href="{{ path('SEAdminBundle_news_categorie_remove', { 'id': cat.id }) }}" class="btn btn-danger"><span class="icon-remove"></span></a></td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<div class="alert alert-danger" style="margin: 0;">
					<strong>Important !</strong> Vous ne pouvez pas ajouter de nouvelle entrées sans avoir crée au minimum 1 catégorie.
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}