<div class="row-fluid">
	<div class="span12">{{ form_widget(form.libelle) }}</div>
	<div class="text-error">{{ form_errors(form.libelle) }}</div>
</div>
<div class="row-fluid">
	{{ form_rest(form) }}
	<div class="text-error">{{ form_errors(form) }}</div>
</div>
<div class="ecart10"></div>