{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% if seadmin.modules.news.title is defined %}{% set news_title = seadmin.modules.news.title %}{% else %}{% set news_title = "Actualités" %}{% endif %}

{% block block_title %}
	Liste des {{ news_title|lower }}
	<span class="mini-title">Nombre : {{ news|length }}</span>
{% endblock %}

{% block block_over %}
	<div class="alert">
		<strong>Rappel !</strong> Les {{ news_title|lower }} ayant une date de publication superieur à la date du jour ne sont pas visible sur votre site. <br>Elle seront publiées à la date inscrite.
	</div>
{% endblock %}
{% block block_content %}
	{% if news|length > 0 %}
		<div class="ecart10"></div>
		<table class="table table-bordered" style="background-color: #fff;">
			<tr>
				<th style="text-align: center; vertical-align: middle;">#</th>
				<th style="text-align: center; vertical-align: middle;">Illustration</th>
				<th style="text-align: center; vertical-align: middle;">Titre</th>
				<th style="text-align: center; vertical-align: middle;">Catégories</th>
				<th style="text-align: center; vertical-align: middle;">Publication</th>
				<th style="text-align: center; vertical-align: middle;">En ligne</th>
				<th></th>
				<th></th>
			</tr>
			{% for new in news %}
				<tr>
					<td style="width: 30px; vertical-align: middle; text-align: center;">{{ new.id }}</td>
					<td style="width: 100px; vertical-align: middle; text-align: center;"><img src="{{ asset('media/admin/seadmin_200x120/' ~ new.image.urlimg) }}" style="width: 100px;"></td>
					<td style=" vertical-align: middle;">{{ new.title }}</td>
					<td style=" vertical-align: middle; text-align: center;">
						{% for key,cat in new.categories %}{% if key != 0 %}, {% endif %}{{ cat.libelle }}{% endfor %}
					</td>
					<td style="width: 100px; vertical-align: middle; text-align: center;">{{ new.datepost|date('d/m/Y') }}</td>
					<td style="width: 50px; vertical-align: middle; text-align: center;">
						{% if new.datepost|date('Ymd') >= "now"|date('Ymd') %}
							<span class="icon-remove"></span>
						{% else %}
							<span class="icon-ok"></span>
						{% endif %}
					</td>
					<td style="width: 50px; vertical-align: middle; text-align: center;"><a href="{{ path('SEAdminBundle_news_show', { 'slug': new.slug }) }}" class="btn"><span class="icon-eye-open"></span></a></td>
					<td style="width: 50px; vertical-align: middle; text-align: center;"><a href="{{ path('SEAdminBundle_news_remove', { 'slug' : new.slug }) }}" class="btn btn-danger"><span class="icon-remove"></span></a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="alert alert-danger">
			<strong>Attention !</strong> Vous avez aucun {{ news_title|lower }} pour le moment, pour commencer a en ajouter, <a href="{{ path('SEAdminBundle_news_add') }}">cliquez ici</a>.
		</div>
	{% endif %}
{% endblock %}