{% if categories|length > 0 %}
	<table class="table table-bordered" style="width: 100%; margin: 0px; background-color: #fff;">
		<tr>
			<th style="text-align: center;">#</th>
			<th>Catégorie</th>
			<th style="text-align: center;">Nb.</th>
			<th style="text-align: center;"></th>
		</tr>
		{% for cat in categories %}
			<tr>
				<td style="vertical-align: middle; text-align: center;">{{ cat.id }}</td>
				<td style="vertical-align: middle;">{{ cat.libelle }}</td>
				<td style="vertical-align: middle; text-align: center;">{{ cat.news|length }}</td>
				<td style="vertical-align: middle; text-align: center; width: 50px;">{% if cat.news|length == 0 %}<a href="{{ path('SEAdminBundle_news_remove_category', { 'id': cat.id }) }}" class="btn btn-danger"><span class="icon-remove"></span></a>{% else %}-{% endif %}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p style="margin: 0px; text-align: center;">Vous n'avez pas encore de catégories.</p>
{% endif %}