{% extends 'SEAdminBundle:layout:layout.html.twig' %}
{% block javascripts %}
	<script src="{{ asset('bundles/seadmin/js/cms/news-image-sort.js') }}"></script>
{% endblock %}

{% block body_left %}
	{# Le contenu de la news #}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Modifier <span class="mini-title">{{ news.title }}</span></div>
				</div>
				<div class="widget-body">
					<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
						{% include 'SEAdminBundle:news:content-form.html.twig' %}
						<div class="form-actions no-margin">
							<button type="submit" class="btn btn-info pull-right">Modifier</button>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	{# Les images pour le slide de la news ... #}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">Illustrer l'article</div>
				</div>
				<div class="widget-body">
					{% if news.image|length > 0 %}
						<ul class="thumbnails ui-sortable" id="sort_news_image" data-url="{{ path('SEAdminBundle_news_image_sort') }}">
							{% for image in news.images %}
					            <li class="span3" data-ref="{{ image.id }}" style="position: relative;">
					                <div class="thumbnail">
										<img src="{{ asset('media/admin/seadmin_200x120/' ~ image.image.urlimg) }}" style="width: 100%;">
					                </div>
									<button class="btn btn-small move"><span class="icon-move"></span></button>
									<a class="remove btn btn-danger btn-small" href="{{ path('SEAdminBundle_news_image_remove', { 'id': image.id }) }}"><span class="icon-remove"></span></a>
					            </li>
							{% endfor %}
					    </ul>
					{% endif %}
					<div class="row-fluid">
						<div class="span12" style="padding: 10px; background-color: #dedede;">
							<form action="" method="post" {{ form_enctype(formImage) }} class="no-margin">
								{{ form_widget(formImage.image) }}
								<div class="text-error">{{ form_errors(formImage.image) }}</div>
								<div class="ecart10"></div>
								<div class="text-error">{{ form_errors(form) }}</div>
								{{ form_rest(formImage) }}
								<button type="submit" class="btn btn-info">Ajouter l'image</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}