{% extends 'SEAdminBundle:layout:block.html.twig' %}
{% if seadmin.modules.news.title is defined %}{% set news_title = seadmin.modules.news.title %}{% else %}{% set news_title = "Actualités" %}{% endif %}
{% block block_title %}
	{{ news_title }} : {{ news.title }}
	<span class="mini-title"></span>
{% endblock %}

{% block block_content %}
	<form action="" method="post" {{ form_enctype(form) }} class="form-horizontal no-margin">
		{% include 'SEAdminBundle:news:content-form.html.twig' %}
		<div class="form-actions no-margin">
			<button type="submit" class="btn btn-info pull-right">Modifier</button>
			<div class="clearfix"></div>
		</div>
	</form>
{% endblock %}